{% extends "tribes/base.html" %}

{% load i18n %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load markup %}
{% load oembed_tags %}
{#% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ tribe.get_absolute_url }}topics/">{% trans "Message Board" %}</a>{% endblock %#}

{% block body %}

<h2>{% trans "Preview of your post" %}</h2>

<table class="topics">
    <tr class="even"><th class="meta">{% trans "Meta" %}</th><th class="options"></th><th>{% trans "Preview of your post" %}</th></tr>
    <tr class="odd">
    <td>
        <div class="meta">
            <div class="avatar">
                <img src="/site_media/{{ user.get_profile.affiliation.icon }}"  alt="{{ user.get_profile.affiliation }}" title="{{ user.get_profile.affiliation }}" /><br />
                {% avatar user 60 %}
            </div>
            <div class="created">
                {% now "N j, Y" %} - {% now "H:i" %}<br />
                {% trans "0 minutes ago"%}<br />
                <br />
                {{ user }}
            </div>
        </div>
    </td>
    <td></td>
    <td>
        <div class="body">{% autoescape off %}{% oembed %}{{ preview_comment }}{% endoembed %}{% endautoescape %}</div>
    </td>
    </tr>


<tr class="even">
<td>
    <div class="meta">
            <div class="avatar">
                <img src="/site_media/{{ user.get_profile.affiliation.icon }}"  alt="{{ user.get_profile.affiliation }}" title="{{ user.get_profile.affiliation }}" /><br />
                {% avatar user 60 %}
            </div>
            <div class="created">
                {% now "N j, Y" %} - {% now "H:i" %}<br />
                {% trans "0 minutes ago"%}<br />
                <br />
                {{ user }}
            </div>
    </div>
</td>
<td></td>
<td id="commentHolder">
    <form method="POST" action="">
        {{ form.comment }}
        <div class="form_block">
            
            <input type="submit" value="Submit Comment" />
            <input type="submit" value="Preview Updated Comment" name="preview" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</td>
</tr>
</table>
{% block extra_body %}
    <script type="text/javascript" src="{{MEDIA_URL}}fckeditor/fckeditor.js"></script>
    <script type="text/javascript">
    window.onload = function()
    {
    var oFCKeditor = new FCKeditor( 'id_comment' ) ;
    oFCKeditor.BasePath = "{{MEDIA_URL}}fckeditor/" ;
    oFCKeditor.ReplaceTextarea() ;
    }
    </script>
{% endblock %}
{% endblock %}
