{% extends "tribes/base.html" %}

{% load i18n %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load markup %}
{% load oembed_tags %}
{% load condition_tag %}
{% load cache %}

{% block boxtab_id %}id="board_tab"{% endblock %}

{% block body %}

<h2>{% trans "Preview of your post" %}</h2>

<table class="topic">
    <tr class="even"><th class="meta">{% trans "Meta" %}</th><th class="options"></th><th>{% trans "Preview of your post" %}</th></tr>
    <tr class="odd">
    <td>
        <div class="meta">
            <div class="usericons">
                <img src="{{MEDIA_URL}}{{ user.get_profile.affiliation.icon }}"  alt="{{ user.get_profile.affiliation }}" title="{{ user.get_profile.affiliation }}" />
                <img src="{{MEDIA_URL}}{{ user.get_profile.occupation.icon }}"  alt="{{ user.get_profile.occupation }}" title="{{ user.get_profile.occupation }}" />
                {% ifequal tribe.creator user %}
                    <img src="/site_media/images/sitegraphics/award_star_gold_1.png" alt="{% trans 'Administrator' %}" title="{% trans 'Administrator' %}" />
                {% else %}
                    {% if_is_moderator tribe user %}
                        <img src="/site_media/images/sitegraphics/award_star_silver_1.png" alt="{% trans 'Moderator' %}" title="{% trans 'Moderator' %}" />
                    {% endif_is_moderator %}
                {% endifequal %}
            </div>
            <div class="avatar">
                {% avatar user 60 %}
            </div>
            <div class="created">
                {% now "N j, Y" %} - {% now "H:i" %}<br />
                {% trans "0 minutes ago"%}<br />
                <br />
                {{ user.get_profile.get_name }}
            </div>
        </div>
    </td>
    <td></td>
    <td>
        <div class="body">{% autoescape off %}{% oembed %}{{ preview_comment }}{% endoembed %}{% endautoescape %}</div>
    </td>
    </tr>


<tr class="even">
<td>
    <div class="meta">
            <div class="usericons">
                <img src="{{MEDIA_URL}}{{ user.get_profile.affiliation.icon }}"  alt="{{ user.get_profile.affiliation }}" title="{{ user.get_profile.affiliation }}" />
                <img src="{{MEDIA_URL}}{{ user.get_profile.occupation.icon }}"  alt="{{ user.get_profile.occupation }}" title="{{ user.get_profile.occupation }}" />
                {% ifequal tribe.creator user %}
                    <img src="/site_media/images/sitegraphics/award_star_gold_1.png" alt="{% trans 'Administrator' %}" title="{% trans 'Administrator' %}" />
                {% else %}
                    {% if_is_moderator tribe user %}
                        <img src="/site_media/images/sitegraphics/award_star_silver_1.png" alt="{% trans 'Moderator' %}" title="{% trans 'Moderator' %}" />
                    {% endif_is_moderator %}
                {% endifequal %}
            </div>
            <div class="avatar">
                {% avatar user 60 %}
            </div>
            <div class="created">
                {% now "N j, Y" %} - {% now "H:i" %}<br />
                {% trans "0 minutes ago"%}<br />
                <br />
                {{ user.get_profile.get_name }}
            </div>
    </div>
</td>
<td></td>
<td id="commentHolder">
    <form method="POST" action="">
        {{ form.comment }}
        <div class="form_block">
            
            <input type="submit" value="{% trans 'Submit Comment' %}" />
            <input type="submit" value="{% trans 'Preview Comment' %}" name="preview" />
            <input type="hidden" name="tribe" value="{{tribe.slug}}"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</td>
</tr>
</table>

{% block extra_body %}
    {% cache 600000 fckeditor_preview %}
        <script type="text/javascript" src="{{MEDIA_URL}}fckeditor/fckeditor.js"></script>
        <script type="text/javascript">
        window.onload = function()
        {
        var oFCKeditor = new FCKeditor( 'id_comment' ) ;
        oFCKeditor.BasePath = "{{MEDIA_URL}}fckeditor/" ;
        oFCKeditor.ReplaceTextarea() ;
        }
        </script>
    {% endcache %}
{% endblock extra_body %}
{% endblock body %}
