{% extends "tribes/base.html" %}

{% load i18n %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load markup %}


{% block body %}

<h2>{% trans "Preview of your post" %}</h2>



<table class="topics">
    <tr class="even"><th class="meta">{% trans "Meta" %}</th><th class="options"></th><th>{% trans "Preview of your post" %}</th></tr>
    <tr class="odd">
    <td>
        <div class="meta">
            <div class="avatar">{% avatar user 60 %}</div>
            <div class="created">
                {% trans "Default Markup:" %}
            </div>
            <div class="details clearboth">{{ user }}</div>
        </div>
    </td>
    <td></td>
    <td>
        <div class="body">{{ request.POST.comment }}</div>
    </td>
    </tr>


<tr class="even">
<td>
    <div class="meta">
        <div class="avatar">{% avatar user 60 %}</div>
            <div class="created">
                {% trans "Edit your post:" %}
            </div>
        <div class="details clearboth">{{ user }}</div>
    </div>
</td>
<td></td>
<td id="commentHolder">
    <form method="POST" action="">
        {{ form.comment }}
        <div class="form_block">
            <input type="submit" value="Submit Comment" />
            <input type="submit" value="Preview Updated Comment" name="preview" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</td>
</tr>
</table>

{% endblock %}
