{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
{% blocktrans %}

<h1>Ordensregler for Biblnet.dk</h1>
<p>I forbindelse med at man opretter sin profil, skal man godkende disse betingelser for at blive medlem:</p>
<p>Det er gratis at være medlem af Biblnet.dk. Du skal være eller have været studerende/underviser ved Danmarks Biblioteksskole eller ved bibliotekaruddannelsen på Syddansk Universitet for at være medlem eller på anden måde have tilknytning til BDI-faget. Du bør være opmærksom på, at dit navn bliver synligt for besøgende på Biblnet.dk. Du har selv ansvaret for de filer, du lægger ud på Biblnet.dk.</p>

<strong>Du har ved din indmeldelse samtidigt godkendt følgende ordensregler/NETetikette:</strong>

<h2>NETetikette</h2>

<p>”NETetikette” omhandler ”de sociale færdselsregler” ved brugen af diskussionsfora.

Vi vil generelt opfordre dig til at være høflig, vise "god skik og brug" og opføre dig, som du ville have gjort i en ansigt-til-ansigt-diskussion. Det handler om at respektere folk og deres meninger, uanset hvor uenige man måtte være med dem.</p>
<ul>
    <li>Undgå at SKRIVE MED STORE BOGSTAVER</li>
    <li>Gengiv ikke Private Beskeder herinde</li>
    <li>Ellers er ordet frit, så tøv ikke med at skrive!</li>
</ul>

<h3>Indlæggets overskrift</h3>
<p>Sørg for at dit indlæg har en forklarende overskrift, så de andre deltagere alene derfra kan se, om emnet er relevant for dem.</p>

<h3>Hold dig til emnet</h3>
<p>Det er fornuftigt at holde sig til emnerne for diskussionerne. Diskussionerne skulle meget nødigt ende i personlige slagsmål. Det er ødelæggende for debatmiljøet og for mulighederne for at føre nogle ordentlige diskussioner.</p>

<h3>Kort og præcist</h3>
<p>Det er godt at kunne udtrykke sig kortfattet i sit indlæg! Lange, snørklede indlæg kan virke dræbende på koncentrationen, når man læser mange indlæg. Derfor skal man tilstræbe at være meget præcis, samtidig med at man udtaler sig så kort, som man synes det er muligt, uden at virke uhøflig.</p>

<h3>Brug evt. e-mail til personlige opgør</h3>
<p>Hvis du bliver stødt over noget, som nogen har skrevet om eller til dig i et diskussionsforum, kan du vælge at sende en e-mail direkte til vedkommende. Det er tit den bedste måde at udrede knuder og rette misforståelser på.</p>

<h3>Sarkasme og ironi</h3>
<p>Vær forsigtig med at bruge sarkasme og ironi i dine diskussions-indlæg. Hvis du er ironisk, så husk at markere det tydeligt, hvis du vil være sikker på ikke at blive misforstået.</p>

<h3>Opfør dig korrekt!</h3>
<p>Høflighed er gratis og letter omgangen betydeligt. Når du skriver et indlæg, læs det lige igennem, før du sender det, og spørg dig selv, hvordan du selv ville reagere på et sådant indlæg! Breve afsendt i et øjebliks ophidselse forværrer som regel blot situationen og fortrydes ofte senere!</p>

<h3>Anonyme brugerprofiler</h3>
<p>Anonyme brugerprofiler accepteres, så længe ophavsmandens identitet er kend af Biblnet.dk's administrationsgruppe. For anonyme brugerprofiler gælder samme retningslinier, som for alle andre.</p>

<h2>Ved grove eller gentagne overtrædelser af disse regler, vil administratorerne kunne slette indlæg eller brugerprofil uden varsel.</h2>

{% endblocktrans %}

{% endblock %}
