{% load already %}
{% load dms %}

<h2><a href="{% dms_url dms_site document_detail document %}">{{ document.title|default:"Untitled" }}</a></h2>
<p>
    {% if list_links.download %}<a href="{% dms_url dms_site document_download document %}">Download</a>{% endif %}
    {% ifequal document.uploader request.user %}<a href="{% url document_upload_document_edit document.tribe.slug document.slug %}">Edit</a>{% endifequal %}
    Uploaded by: <a href="{% url profile_detail document.uploader %}">{{ document.uploader }}</a>
</p>

{% for name,field in fields %}{% if field %}
    <h3>{{ name|capfirst }}</h3>
    <p>{{ field|linebreaks }}</p>{% endif %}
{% endfor %}

<!--img src="{{ document.file_thumbnail_small }}"-->
