{% load already %}
{% load dms %}
{% load voting_tags %}
{% load extra_tagging_tags %}
{% load condition_tag %}
{% load i18n %}

        <table class="topics">
            <tr class="even">
                <th width="16px"></th>
                <th width="16px">
{% comment %}
                    {% ifequal order 'most_members' %}
                        <a href="{% url tribe_list_least_members %}{% persist_getvars request %}">{% trans "Members" %} &darr;</a>
                    {% else %}
                        {% ifequal order 'least_members' %}
                            <a href="{% url tribe_list_most_members %}{% persist_getvars request %}">{% trans "Members" %} &uarr;</a>
                        {% else %}
                            <a href="{% url tribe_list_most_members %}{% persist_getvars request %}">{% trans "Members" %}</a>
                        {% endifequal %}
                    {% endifequal %}
{% endcomment %}
                </th>
                <th>
                    {% trans "Title" %}
{% comment %}
                    {% ifequal order 'name_ascending' %}
                        <a href="{% url tribe_list_name_descending %}{% persist_getvars request %}">{% trans "Name" %} &uarr;</a>
                    {% else %}
                        {% ifequal order 'name_descending' %}
                            <a href="{% url tribe_list_name_ascending %}{% persist_getvars request %}">{% trans "Name" %} &darr;</a>
                        {% else %}
                            <a href="{% url tribe_list_name_ascending %}{% persist_getvars request %}">{% trans "Name" %}</a>
                        {% endifequal %}
                    {% endifequal %}
{% endcomment %}
                </th>
                <th width="20%">
                    {% trans "Author" %}
{% comment %}
                    {% ifequal order 'most_topics' %}
                        <a href="{% url tribe_list_least_topics %}{% persist_getvars request %}">{% trans "Topics" %} &darr;</a>
                    {% else %}
                        {% ifequal order 'least_topics' %}
                            <a href="{% url tribe_list_most_topics %}{% persist_getvars request %}">{% trans "Topics" %} &uarr;</a>
                        {% else %}
                            <a href="{% url tribe_list_most_topics %}{% persist_getvars request %}">{% trans "Topics" %}</a>
                        {% endifequal %}
                    {% endifequal %}
{% endcomment %}
                </th>
                <th class="comment_stats" width="80px">{% trans "Grade" %}</th>
                <th class="comment_stats" width="80px">
                    {% trans "Score" %}
{% comment %}
                    {% ifequal order 'date_newest' %}
                        <a href="{% url tribe_list_date_oldest %}{% persist_getvars request %}">{% trans "Created" %} &darr;</a>
                    {% else %}
                        {% ifequal order 'date_oldest' %}
                            <a href="{% url tribe_list_date_newest %}{% persist_getvars request %}">{% trans "Created" %} &uarr;</a>
                        {% else %}
                            <a href="{% url tribe_list_date_newest %}{% persist_getvars request %}">{% trans "Created" %}</a>
                        {% endifequal %}
                    {% endifequal %}
{% endcomment %}
                </th>
            </tr>
            {% for item in object_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    {% with item.document as document %}
                        <td>
                            {% include "django_dms/filetype.html" %}
                        </td>
                        <td>{% if user.is_authenticated %}{% if list_links.download %}<a href="{% dms_url dms_site document_download document %}"><img src="{{MEDIA_URL}}images/sitegraphics/arrow_down.png" alt="{% trans 'Download' %}" title="{% trans 'Download' %}"/></a>{% endif %}{% endif %}</td>
                        <td><a href="{% dms_url dms_site document_detail document %}">{{ document|default:"Untitled" }}</a></td>
                        <td><a href="{% url profile_detail document.uploader %}">{{ document.uploader.get_profile.get_name }}</a></td>
                        <td class="comment_stats">{% ifequal document.grade '99' %}{% trans "Passed" %}{% else %}{{ document.grade }}{% endifequal %}</td>
                        <td class="comment_stats">
                            {% score_for_object document as score %}
                            <span id="document_{{document.slug}}_score">
                                {{ score.score|default:0 }}
                            </span>
                        </td>
                    {% endwith %}
                </tr>
            {% empty %}
                <tr class="odd"><td></td><td></td><td colspan="4">{% trans "There are no documents yet" %}{% is_member tribe user %} - <a href="{% url document_view_document_upload tribe.slug %}">{% trans "upload a document" %}</a>{% endis_member %}</td></tr>
            {% endfor %}
        </table>

    {% if page.has_previous %}<a href="?page={{ page.previous_page_number }}">previous</a>{% endif %}
    {% ifnotequal page.paginator.num_pages 1 %}<span class="current">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>{% endifnotequal %}
    {% if page.has_next %}<a href="?page={{ page.next_page_number }}">next</a>{% endif %}
