table.topic, table.topics {
	width: 100%;
	border-spacing: 0;
	margin: 0.5em 0;
/*	table-layout: fixed;*/
}
table.topic th, table.topics th {
	text-align:left;
    padding: 5px;
    font-weight: bold;
}
table.topic td, table.topics td {
    vertical-align: top;
    padding: 5px;
    font-size:90%;
}
table.topic td h1, table.topics td h2 {
    margin: 0;
    padding: 0;
}
.responses .even, .topics .even {
	color: #DFDFDF;
	background-color: #0E3037;
}
.responses .odd, .topics .odd {
    background-color: #DFDFDF;
}
.responses {
    margin: 0px;
    padding: 0px;
}
.responses li {
    list-style-type: none;
}
.even a {
	color: #DFDFDF;
}
.odd a {
	color: #0E3037;
}
th.meta {
    width: 180px;
}
th.options {
    width: 20px;
}
div.meta {
	float: left;
	font-size: 80%;
	overflow:hidden;
}
div.avatar {
	float: left;
}
div.created {
    float: left;
	padding: .4em;
    margin-top: 14px;
}
div.details {
    float: left;
	padding: 0 0 0 1em;
}
div.body {
    overflow: auto;
}
/*div.bulk {
    margin-left: 200px;
    padding: .5em;
}*/
div.edit {
    float: left;
}
div.delete {
    float: left;
}
.hidden { display: none; }

table.topics .comment_stats {
    text-align: center;
}
/*table.topics .created {
    color: #999;
    font-size: 90%;
}*/
td#commentHolder {
    margin: 0;
    padding: 5px 15px 5px 0;
}
textarea#id_comment {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0.4em 4px 0.8em 4px;
    width: 100%;
}
