table.topic, table.topics {
	width: 100%;
	border-spacing: 0;
	margin-top:1em;
/*	table-layout: fixed;*/
}
table.topic th, table.topics th {
	text-align:left;
    padding: 5px 20px 5px 5px;
}
table.topic td, table.topics td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
    font-size:90%;
}
table.topic td h1, table.topics td h2 {
    margin: 0;
    padding: 0;
}
table.topics div.details {
	padding:0 0 0 1em;
	float:left;
}
.responses .even, .topics .even {
	color: #DFDFDF;
	background-color: #0E3037;
}
.responses .odd, .topics .odd {
    background-color: #DFDFDF;
}
.responses {
    margin: 0px;
    padding: 0px;
}
.responses li {
    list-style-type: none;
}
td.meta {
    width: 100px;
    margin: 4px;
}
div.meta {
	float: left;
	width: 250px;
/*	margin: 4px;*/
/*	padding: 4px;*/
/*	font-size: 90%;*/
	overflow:hidden;
}
div.avatar {
	float: left;
}
div.created {
	float: left;
	padding: .5em;
}
div.details {
	padding: 1em;
}
div.bulk {
    margin-left: 200px;
    padding: .5em;
}
.hidden { display: none; }

table.topics .comment_stats {
    text-align: center;
}
/*table.topics .created {
    color: #999;
    font-size: 90%;
}*/
