{% extends "site_base.html" %}
{% load security_tag %}
{% load biblnet_tags %}
{% block extra_head %}
{{ block.super }}

<link rel="stylesheet" href="{{ MEDIA_URL }}schedule/css/schedule.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.tooltip.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tooltip.js"></script>

{% endblock %}

{% block rtab_id %}id="schedule_tab"{% endblock %}
 
{% block subnav %}
{% endblock subnav %}

{% block body %}

{% endblock body %}

{% block calendar %}
    
    {% if calendar %}
        {% can_access calendar request.user %}
        {% get_tribe_calendar tribe request.user %}
    {% else %}{% if event %}
        {% can_access event request.user %}
        {% get_tribe_calendar tribe request.user %}
    {% endif %}{% endif %}

{% endblock calendar %}
