{% extends "schedule/base.html" %}
{% load scheduletags %}
{% load condition_tag %}
{% load i18n %}

{% block body %}

{% if_can_see_calendar calendar request.user%}
    {% include "schedule/_dialogs.html" %}
    <div class="navigation">
        <a href="{% url tri_month_calendar calendar.slug %}{% querystring_for_date periods.month.start 2 %}">{% trans "Three Month Calendar" %}</a>
        <a href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.month.start 1 %}">{% trans "Full Year Calendar" %}</a>
    </div>
    <div class="tablewrapper">
        <a href="{% url month_calendar calendar.slug %}">{% trans "This month" %}</a>
        {% prevnext "month_calendar" calendar.slug periods.month "F Y"%}
        {% month_table calendar periods.month "regular" %}
    </div>
{% endif_can_see_calendar %}

{% endblock %}
