{% extends "schedule/base.html" %}
{% load i18n %}
{% load condition_tag %}

{% block body %}

{% if_can_see_calendar object.calendar request.user %}
    <h1>{% trans "Delete event" %}</h1>
    {% trans "Are you sure you want to delete this event?" %}
    <form action="." method="POST">
        <h2>{{ object.title }}</h2>
        <strong>From</strong> {{ object.start|date:_("DATETIME_FORMAT") }}
        <strong>to</strong> {{ object.end|date:_("DATETIME_FORMAT") }}<br/><br/>
        <input type="submit" value="{% trans 'Delete' %}" />
        <input type="button" value="{% trans 'Cancel' %}" onclick="window.location='{{ next }}'"/>
        <input type="hidden" name="next" value="{{ next|default:'' }}"/>
    </form>
{% endif_can_see_calendar %}

{% endblock %}
