{% extends "site_base.html" %}
{% load security_tag %}
{% load biblnet_tags %}
{% load i18n %}

{% block extra_head %}

    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}schedule/css/schedule.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.timePicker.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#id_start_0").datepicker({dateFormat: $.datepicker.ATOM});
        $("#id_end_0").datepicker({dateFormat: $.datepicker.ATOM});
        $("#id_start_1").timePicker();
        $("#id_end_1").timePicker();
        $("#id_end_recurring_period").datepicker({dateFormat: $.datepicker.ATOM});
        var oldTime = $.timePicker("#id_start_1").getTime();
        $("#id_start_1").change(function() {
          if ($("#id_end_1").val()) { // Only update when second input has a value.
          // Calculate duration.
          var duration = ($.timePicker("#id_end_1").getTime() - oldTime);
          var time = $.timePicker("#id_start_1").getTime();
          // Calculate and update the time in the second input.
          $.timePicker("#id_end_1").setTime(new Date(new Date(time.getTime() + duration)));
          oldTime = time;
          }
        });
        // Validate.
        // TODO this should validate date AND time
        $("#id_end_1").change(function() {
          if($.timePicker("#id_start_1").getTime() > $.timePicker(this).getTime()) {
          $(this).addClass("error");
          }
          else {
          $(this).removeClass("error");
          }
        });
    });
    </script>
{% endblock %}

{% block breadcrumb %}
    {% if calendar %}
        {% can_access calendar request.user %}
    {% else %}{% if event %}
        {% can_access event request.user %}
    {% endif %}{% endif %}
{{ block.super }} &raquo; <a href="/tribes/">{% trans "Tribes" %}</a>{% if tribe %} &raquo; <a href="{{ tribe.get_absolute_url }}">{{ tribe.name }}</a>{% endif %}{% endblock %}

{% block calendarevents %}
    {% if calendar %}
        {% can_access calendar request.user %}
        <div>{% trans "Next events for" %} <a href="{% url month_calendar tribe.slug %}">{{ tribe }}</a></div>
        {% get_tribe_calendar tribe request.user %}
        <p><a href="{% url calendar_create_event tribe.slug %}">{% trans "Add new event" %}</a></p> 
    {% else %}
        {% if event %}
            {% can_access event request.user %}
            <div>{% trans "Next events for" %} <a href="{% url month_calendar tribe.slug %}">{{ tribe }}</a></div>
            {% get_tribe_calendar tribe request.user %}
            <p><a href="{% url calendar_create_event tribe.slug %}">{% trans "Add new event" %}</a></p> 
        {% endif %}
    {% endif %}
{% endblock calendarevents %}
