{% extends 'site_base.html' %}
{% load i18n %}
{% load security_tag %}

{% block head_title %}{% trans "Search results" %}{% endblock %}

{% block body %}
    <h1>{% trans "Search results" %}</h1>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="{% trans 'Search' %}">
                </td>
            </tr>
        </table>
    </form>

    {% for result in page.object_list %}

        {% can_access result.object request.user%}
        
        {% if has_access %}
            <hr/> 
            <a href="{{result.object.get_absolute_url}}"><strong>{{result.verbose_name}}</strong></a> i 
            {% if tribe %}<a href="{% url tribe_detail tribe.slug %}">{{tribe}}</a>{% endif %} ({{result.score}})
            <p>{{ result.text|safe|truncatewords_html:100 }}</p>
        {% endif %}

    {% empty %}
        <p>{% trans "No results found." %}</p>
    {% endfor %}
        
{% endblock %}
