{% extends 'site_base.html' %}
{% load i18n %}
{% load security_tag %}

{% block head_title %}{% trans "Search results" %}{% endblock %}

{% block body %}
    <h1>{% trans "Search results" %}</h1>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="{% trans 'Search' %}">
                </td>
            </tr>
        </table>
    </form>

    <table class="topic">
        <tr class="even"><th class="icon"></th><th>{% trans "Result" %}</th></tr>
        {% for result in page.object_list %}
            {% can_access result.object request.user %}
            
            {% if has_access and not tribe.deleted %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><img src="{{ MEDIA_URL }}images/sitegraphics/result_{{ result.verbose_name }}.png" alt="{{ result.verbose_name }}" title="{{ result.verbose_name }}" /></td>
                    {{ result.text|safe|truncatewords_html:100 }}
                </tr>
            {% endif %}

        {% empty %}
            <tr class="odd"><td></td><td>{% trans "No results found." %}</td></tr>
        {% endfor %}
    </table>
        
{% endblock %}
