{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load tribe_tags %}
{% load cache %}

{% block body %}
    {{ topic_form.media }}
    {% if are_member %}
        <h2>{% trans "New Topic in:" %} {{tribe}}</h2>
        <form class="uniForm" id="tribe_form" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ topic_form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" value="{% trans "Create New Topic" %}" /></td>
                </div>
            </fieldset>
        </form>
    {% endif %}



{% endblock %}

{% block extra_body %}

{% cache 600000 fckeditor_create_topic %}
    <script type="text/javascript" src="{{MEDIA_URL}}fckeditor/fckeditor.js"></script>
    <script type="text/javascript">
    window.onload = function()
    {
    var oFCKeditor = new FCKeditor( 'id_body' ) ;
    oFCKeditor.BasePath = "{{MEDIA_URL}}fckeditor/" ;
    oFCKeditor.ReplaceTextarea() ;
    }
    </script>
    {% endcache %}
{% endblock %}
