{% extends "tribes/base.html" %}

{% load i18n %}
{% load extra_tagging_tags %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load security_tag %}
{% load markup %}

{% block head_title %}{{ topic.title }}{% endblock %}

{% block boxtab_id %}id="board_tab"{% endblock %}

{% block group %}<li class="members_tab"><a href="{{ topic.tribe.get_absolute_url }}members/"><span>{% trans "Members" %}</span></a></li>{% endblock %}

{% block body %}
{% load condition_tag %}

<div class="right_panel">
    <table>
        {% if are_moderator %}
            <tr>
                <td>
                <form method="POST" action="{% url tribe_topic_moderate topic.id %}">
                    {% if topic.sticky %}
                        <input type="image" src="/site_media/images/sitegraphics/unsticky.gif" alt="{% trans "unSticky topic" %}" />
                    {% else %}
                        <input type="image" src="/site_media/images/sitegraphics/sticky.gif" alt="{% trans "Sticky topic" %}" />
                    {% endif %}
                    <!--input type="submit" value={% if topic.sticky %}"{% trans "unSticky topic" %}"{% else %}"{% trans "Sticky topic" %}"{% endif %} /-->
                    <input type="hidden" name="sticky" value="" />
                    <input type="hidden" name="next" value="{% url tribe_topics topic.tribe.slug %}" />
                </form>
                </td>
                <td>
                    {% if topic.sticky %}
                        {% trans "unSticky Topic" %}
                    {% else %}
                        {% trans "Make Topic Sticky" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                <form method="POST" action="{% url tribe_topic_moderate topic.id %}">
                    {% if topic.closed %}
                        <input type="image" src="/site_media/images/sitegraphics/unlock.gif" alt="{% trans "Reopen topic" %}" />
                    {% else %}
                        <input type="image" src="/site_media/images/sitegraphics/lock.gif" alt="{% trans "Close topic" %}" />
                    {% endif %}
                    <!--input type="submit" value={% if topic.closed %}"{% trans "Reopen topic" %}"{% else %}"{% trans "Close topic" %}"{% endif %} /-->
                    <input type="hidden" name="close" value="" />
                    <input type="hidden" name="next" value="{% url tribe_topics topic.tribe.slug %}" />
                </form>
                </td>
                <td>
                    {% if topic.closed %}
                        {% trans "Reopen Topic" %}
                    {% else %}
                        {% trans "Close Topic" %}
                    {% endif %}
                </td>
            </tr>
       {% endif %}
    </table>
</div>

{% if_can_see topic.tribe user %}
<h2>{{ topic.title }}</h2>
<p>{% show_tags_for topic %}</p>

{% if topic.sticky %}
    <p><img src="/site_media/images/sitegraphics/sticky.gif" alt="{% trans "Sticky topic" %}" /> {% trans "This is a sticky topic. That means that it will always appear as the first topic on the Message Board." %}</p>
{% endif %}

{% if topic.closed %}
    <p><img src="/site_media/images/sitegraphics/lock.gif" alt="{% trans "Closed topic" %}" /> {% trans "The topic has been closed. It can only be reopened by a moderator of this group." %}</p>
{% endif %}

<form id="{{ topic.id }}" class="delete_topic_form delete_form" style="display: none;" method="POST" action="{% url tribe_topic_delete topic.id %}">
    <input type="submit" value="Delete Topic"/> {% trans "Are you sure you wish to delete this topic? All posts will be lost..." %}
    <input type="hidden" name="next" value="{% url tribe_topics topic.tribe.slug %}" />
</form>

<table class="topics">
    <tr class="even"><th class="meta">{% trans "Meta" %}</th><th class="options"></th><th>{% trans "Posts" %}</th></tr>
    <tr class="odd">
        <td>
        <div class="meta">
            <div class="avatar"><a href="{% url profile_detail topic.creator.username %}">{% avatar topic.creator 60 %}</a></div>
            <div class="created">{{ topic.created|date }} - {{ topic.created|time }}<br />
                ({{ topic.created|timesince }} {% trans "ago"%})
            </div>
            <div class="details clearboth"><a href="{% url profile_detail topic.creator.username %}">{{ topic.creator }}</a></div>
        </div>
        </td>
        <td>
            {% if_can_edit_topic %}
                {% if not edit %}<a href="{{ request.path }}edit/"><img src="/site_media/images/sitegraphics/edit.gif" alt="{% trans "Edit post" %}" /></a>{% endif %}
            {% endif_can_edit_topic %}
            {% ifequal user topic.tribe.creator %}
                <div class="delete"><a onclick="$('#{{ topic.id }}.delete_topic_form').toggle(); return false;" href="#"><img src="/site_media/images/sitegraphics/trash.gif" alt="{% trans "Delete Topic" %}" /></a></div>
            {% endifequal %}
        </td>
        <td>
        <div>
            
            {% if edit %}
            <form method="post" action="{{ request.path }}">
                <textarea id="id_body" rows="20" cols="80" name="body">{{ topic.body }}</textarea>
                <input type="submit" name="edit" value="Edit!" />
            </form>
            {% block extra_body %}
                <script type="text/javascript" src="{{MEDIA_URL}}fckeditor/fckeditor.js"></script>
                <script type="text/javascript">
                window.onload = function()
                {
                var oFCKeditor = new FCKeditor( 'id_body' ) ;
                oFCKeditor.BasePath = "{{MEDIA_URL}}fckeditor/" ;
                oFCKeditor.ReplaceTextarea() ;
                }
                </script>
            {% endblock %}
            {% else %}
            <div class="body">{% autoescape off %}{{ topic.body }}{% endautoescape %}</div>
            {% endif %}
        </div>
        </td>
    </tr>
    {% if not edit %}{% comments topic %} {% endif %}
</table>

{% else %}
    {% trans "... This is a private group!" %}
{% endif_can_see %}

{% if topic.closed %}
    <p><img src="/site_media/images/sitegraphics/lock.gif" alt="{% trans "Closed topic" %}" /> {% trans "The topic has been closed. It can only be reopened by a moderator of this group." %}</p>
{% else %} {% if user.is_authenticated and not are_member %}
    <p>{% trans "You need to be a member of this group to reply."%}</p>
{% else %} {% if not user.is_authenticated %}
    <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment</h3> 
{% endif %}
{% endif %}
{% endif %} 
    <p><a href="{% url tribe_topics topic.tribe.slug %}">&larr; {% trans "Back to Topic List for " %} {{ topic.tribe }}</a></p>	
{% endblock %}
