{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load tribe_tags %}

{% block head_title %}{% blocktrans with tribe.name as tribe_name %}Message Board for {{ tribe_name }}{% endblocktrans %}{% endblock %}

{% block boxtab_id %}id="board_tab"{% endblock %}

{% block body %}
{% load condition_tag %}

{% if_can_see tribe user %}

    {% autopaginate topics 20 %}

    <h1>{% trans "Message Board for" %} <a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a></h1>
    {% if user.is_authenticated %}
        {% if are_member %}
            <a href="{% url tribe_create_topic tribe.slug %}">{% trans "Start New Topic" %}</a>
        {% else %}
            <form method="POST" action="{% url tribe_detail tribe.slug %}">
                <input type="hidden" name="action" value="join" />
                <input type="submit" value="{% trans 'join tribe' %}"/>
            </form>
        {% endif %}
    {% else %}
        {% url acct_login as login_url %}
        {% url tribe_detail tribe.slug as tribe_url %}
        <h3>{% blocktrans %}Please <a href="{{ login_url }}?next={{ tribe_url }}">log in</a> to start a topic.{% endblocktrans %}</h3>
    {% endif %}

    <table class="topics">
        <tr class="even"><th width="36px"></th><th>{% trans "Topic" %}</th><th width="15%">{% trans "Started by" %}</th><th class="comment_stats" width="10%">{% trans "Views" %}</th><th class="comment_stats" width="15%">{% trans "Replies" %}</th><th width="150px">{% trans "Latest reply" %}</th></tr>
        {% if tribe.topics.all %}
            {% for topic in topics %}
                {% show_tribe_topic topic %}
            {% endfor %}
        {% else %}
            {% url tribe_create_topic tribe.slug as new_topic_url %}
            <tr class="odd"><td><img src="/site_media/images/sitegraphics/note.png" /></td><td colspan=5>{% trans "There are no topics yet" %}{% if are_member %} - <a href="{{ new_topic_url }}">{% trans "create a topic..." %}</a>{% endif %}</td></tr>
        {% endif %}
    </table>

    {% paginate %}

{% else %}
    <p>{% trans "This is a private group!" %}</p>
{% endif_can_see %}

{% endblock %}
