{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load tribe_tags %}

{% block head_title %}{% blocktrans with tribe.name as tribe_name %}Topics for {{ tribe_name }}{% endblocktrans %}{% endblock %}

{% block boxtab_id %}id="board_tab"{% endblock %}

{% block body %}
{% load condition_tag %}
    {% if_can_see tribe user %}

        {% autopaginate topics 10 %}
    
        <h3>{% trans "Message Board for" %} <a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a></h3>

        {% if are_member %}
           <a href="{% url tribe_create_topic tribe.slug %}">{% trans "Start New Topic" %}</a>
        {% endif %}
    
        <table class="topics">
        {#<tr class="even"><th></th><th>{% trans "Topic" %}</th><th>{% trans "Started by" %}</th><th>{% trans "Views" %}</th><th>{% trans "Replies" %}</th><th>{% trans "Latest reply" %}</th><th>{% trans "Tags" %}</th></tr>#}
        <tr class="even"><th width="35px"></th><th width="25%">{% trans "Topic" %}</th><th width="15%">{% trans "Started by" %}</th><th width="7%">{% trans "Views" %}</th><th width="8%">{% trans "Replies" %}</th><th width="25%">{% trans "Latest reply" %}</th><th>{% trans "Tags" %}</th></tr>
        {% if tribe.topics.all %}
            {% for topic in topics %}
                {% show_tribe_topic topic %}
            {% endfor %}
        {% else %}
            {% url tribe_create_topic tribe.slug as new_topic_url %}
            <tr class="odd"><td><img src="/site_media/images/sitegraphics/pin.gif" /></td><td colspan=6>{% blocktrans %}There are no topics yet - <a href="{{ new_topic_url }}">start one...</a>{% endblocktrans %}</td></tr>
        {% endif %}
        </table>

        {% paginate %}

    {% else %}
        {% trans "... This is a private group!" %}
    {% endif_can_see %}	    

{% endblock %}
