{% extends "tribes/base.html" %}

{% load i18n %}
{% load extra_tagging_tags %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load security_tag %}

{% block head_title %}{{ topic.title }}{% endblock %}

{% block boxtab_id %}id="board_tab"{% endblock %}

{% block group %}<li class="members_tab"><a href="{{ topic.tribe.get_absolute_url }}members/"><span>{% trans "Members" %}</span></a></li>{% endblock %}

{% block body %}
{% load condition_tag %}
   {% if_can_see topic.tribe user %}
<h1>{{ topic.title }}</h1>
	<ul class="responses">
	<li class="odd clearfix">
		<div class="meta">
			<div class="avatar"><a href="{% url profile_detail topic.creator.username %}">{% avatar topic.creator 60 %}</a></div>
			<div class="created">{{ topic.created|date }}<br />
			{% trans "Kl." %} {{ topic.created|time }}<br />
			({{ topic.created|timesince }} {% trans "ago"%})</div>
			<div class="details clearboth"><a href="{% url profile_detail topic.creator.username %}">{{ topic.creator }}</a></div>
			{% ifequal user topic.creator %}
			<form method="POST" action="{% url tc_comment_delete topic.id %}">
				<input type="submit" value="{% trans "Delete Topic" %}" />
				<input type="hidden" name="next" value="{% url tribe_topics topic.tribe.slug %}" />
			</form>
			{% endifequal %}
		</div>
		<div class="bulk">
			<div class="body">{{ topic.body|urlize|linebreaks }}</div>
			<p>{% show_tags_for topic %}</p>
			{% ifequal user topic.creator %}
			{% if not edit %}<p><a href="{{ request.path }}edit/">{% trans "Edit post"%}</a></p>{% endif %}
			{% endifequal %}
		</div>
	</li>
	{% if edit %}
	</ul>
	<h2>Edit {{ topic.name }}</h2>
	<form method="post" action="{{ request.path }}">
		<textarea id="id_body" rows="10" cols="40" name="body">{{ topic.body }}</textarea>
		<input type="submit" name="edit" value="Edit!" />
	</form>
	{% else %}
		{% comments topic %}
	{% endif %}
	<p><a href="{% url tribe_topics topic.tribe.slug %}">&larr; {% trans "Back to Topic List for " %} {{ topic.tribe }}</a></p>	
    {% else %}
    ... This is a private group!
    {% endif_can_see %}	
{% endblock %}
