{% load i18n %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load extra_tagging_tags %}

<tr class="{% cycle odd,even %} clearfix">
<td><img src="/site_media/images/sitegraphics/pin.gif" /></td>
<td><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></td>
<td>{% firstof topic.creator.get_profile.name topic.creator %}</a></div></td>
<td>

		<div class="comment_stats">
			{{ topic.views }}
		</div>

</td>
<td>
	{% get_comment_count for topic as comment_count %}
	{% if comment_count %}
		<div class="comment_stats">
			{{ comment_count }} {# comment{{ comment_count|pluralize }} #}
		</div>
	{% endif %}
</td>



<td>
	{% get_comment_count for topic as comment_count %}
	{% if comment_count %}
		<div class="comment_stats">
			{% blocktrans with topic.modified|date as topic_modified and topic.modified|timesince as timesince_topic_modified %}
			{{ topic_modified }}<br />({{ timesince_topic_modified }} ago)
			{% endblocktrans %}
		</div>
	{% endif %}
</td>
<td>{% show_tags_for topic %}</td>
</tr>


