{% extends "tribes/base.html" %}

{% load microblogging_tags %}
{% load i18n %}
{% load uni_form %}
{% load wiki %}
{% load wikiurl %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load tribe_tags %}
{% load biblnet_tags %}
{% load condition_tag %}
{% load voting_tags %}

{% block head_title %}{{ tribe.name }}{% endblock %}

{% block boxtab_id %}id="index_tab"{% endblock %}

{% block body %}


    {% if_can_see tribe user %}
        <div class="right_panel">
            <p>{% trans "Creator:" %} <a href="{% url profile_detail tribe.creator.username %}">{{ tribe.creator }}</a><br />
            {% trans "Created:" %} {{ tribe.created|date }}</p>
            {% trans "This tribe is:" %} {% if tribe.private %} Private {%else %} Public {% endif%} 
            {% if user.is_authenticated %}
                {% ifequal user tribe.creator %}
                    <p>{% trans "You are the creator of this tribe so can't leave (yet)." %}</p>
                {% else %}
                    <form method="POST" action="">
                        {% if are_member %}
                            <input type="hidden" name="action" value="leave" />
                            <input type="submit" value="{% trans 'leave tribe' %}"/>
                        {% else %}
                            <input type="hidden" name="action" value="join" />
                            <input type="submit" value="{% trans 'join tribe' %}"/>
                        {% endif %}
                    </form>
                {% endifequal %}
            {% else %}
                {% url acct_login as login_url %}
                {% url tribe_detail tribe.slug as tribe_url %}
                <strong>{% blocktrans %}<a href="{{ login_url }}?next={{ tribe_url }}">Log in</a> to join tribe{% endblocktrans %}</strong>
            {% endif %}
        </div>

        <h1>{% trans "Welcome to" %} {{ tribe.name }}</h1>

        <p>{% show_tags_for tribe %}</p>

        <p>{{ tribe.description|linebreaks }}</p>

        <h2>{% trans "Discussion Topics" %}{% if tribe.topics.all.count %} ({{ tribe.topics.all.count }}){% endif %}</h2>
        {% if user.is_authenticated %}
            {% if are_member %}
                <a href="{% url tribe_create_topic tribe.slug %}">{% trans "Start New Topic" %}</a>
            {% endif %}
        {% else %}
            {% url acct_login as login_url %}
            {% url tribe_detail tribe.slug as tribe_url %}
            <h3>{% blocktrans %}Please <a href="{{ login_url }}?next={{ tribe_url }}topics">log in</a> to start a topic.{% endblocktrans %}</h3>
        {% endif %}

        <table class="topics">
            <tr class="even"><th width="36px"></th><th>{% trans "Topic" %}</th><th width="15%">{% trans "Started by" %}</th><th class="comment_stats" width="10%">{% trans "Views" %}</th><th class="comment_stats" width="15%">{% trans "Replies" %}</th><th width="150px">{% trans "Latest reply" %}</th></tr>
            {% if topics %}
                {% for topic in topics %}
                    {% show_tribe_topic topic %}
                {% endfor %}
            {% else %}
                {% url tribe_create_topic tribe.slug as new_topic_url %}
                <tr class="odd"><td><img src="{{ MEDIA_URL }}images/sitegraphics/note.png" /></td><td colspan=5>{% trans "There have been no new topics or replies since your last visit" %}</td></tr>
            {% endif %}
        </table>            
        
        <h2>{% trans "Wiki Articles" %}{% if total_articles %} ({{ total_articles }}){% endif %}</h2>
        {% if user.is_authenticated %}
            {% if are_member %}
                <a href="{{ tribe_url }}wiki">{% trans "Start New Article" %}</a>
            {% endif %}
        {% else %}
            {% url acct_login as login_url %}
            {% url tribe_detail tribe.slug as tribe_url %}
            <h3>{% blocktrans %}Please <a href="{{ login_url }}?next={{ tribe_url }}wiki">log in</a> to create an article.{% endblocktrans %}</h3>
        {% endif %}
        <table class="topics">
            <tr class="even"><th width="16px"></th><th width="20%">{% trans "Title" %}</th><th>{% trans "Summary" %}</th><th width="20%">{% trans "Latest editor" %}</th></tr>
            {% if articles %}
                    {% for article in articles %}
                        {% show_teaser article %}
                    {% endfor %}
            {% else %}
                {% wikiurl list tribe as wiki_url %}
               <tr class="odd"><td><img src="{{ MEDIA_URL }}images/sitegraphics/wiki.png" /></td><td colspan=3>{% trans "There have been no changes to the wiki since your last visit" %}</td></tr>
            {% endif %}
        </table>

        <h2>{% trans "Documents" %}{% if tribe.documents.all.count %} ({{ tribe.documents.all.count }}){% endif %}</h2>
        {% if user.is_authenticated %}
            {% if are_member %}
                <a href="{{ tribe_url }}dms/upload/">{% trans "Upload New Document" %}</a>
            {% endif %}
        {% else %}
            {% url acct_login as login_url %}
            {% url tribe_detail tribe.slug as tribe_url %}
            <h3>{% blocktrans %}Please <a href="{{ login_url }}?next={{ tribe_url }}dms">log in</a> to upload a document.{% endblocktrans %}</h3>
        {% endif %}
        <table class="topics">
            <tr class="even"><th width="16px"></th><th width="16px"></th><th>{% trans "Title" %}</th><th width="20%">{% trans "Author" %}</th><th class="comment_stats" width="120px">{% trans "Score" %}</th></tr>
            {% if documents %}
                {% for document in documents %}
                <tr class="{% cycle 'odd' 'even' %}">
                        <td>
                            {% if document.file_mimetype %}
                                {% ifequal document.file_mimetype 'application/pdf' %}
                                    <img src="{{MEDIA_URL}}images/sitegraphics/page_white_acrobat.png" alt="{% trans 'Filetype' %}" title="PDF"/>
                                {% else %}
                                    {% ifequal document.file_mimetype 'application/msword' %}
                                        <img src="{{MEDIA_URL}}images/sitegraphics/page_white_word.png" alt="{% trans 'Filetype' %}" title="Word"/>
                                    {% else %}
                                        {% ifequal document.file_mimetype 'application/vnd.ms-powerpoint' %}
                                            <img src="{{MEDIA_URL}}images/sitegraphics/page_white_powerpoint.png" alt="{% trans 'Filetype' %}" title="PowerPoint"/>
                                        {% else %}
                                            {% ifequal document.file_mimetype 'image/jpeg' %}
                                                <img src="{{MEDIA_URL}}images/sitegraphics/picture.png" alt="{% trans 'Filetype' %}" title="JPEG"/>
                                            {% else %}
                                                {% ifequal document.file_mimetype 'application/vnd.ms-excel' %}
                                                    <img src="{{MEDIA_URL}}images/sitegraphics/page_white_excel.png" alt="{% trans 'Filetype' %}" title="Excel"/>
                                                {% else %}
                                                    <img src="{{MEDIA_URL}}images/sitegraphics/page_white.png" alt="{% trans 'Filetype' %}" title="{{ document.file_extension }}"/>
                                                {% endifequal %}
                                            {% endifequal %}
                                        {% endifequal %}
                                    {% endifequal %}
                                {% endifequal %}
                            {% else %}
                                {% ifequal document.file_extension '.docx' %}
                                    <img src="{{MEDIA_URL}}images/sitegraphics/page_word.png" alt="{% trans 'Filetype' %}" title="Word 2007"/>
                                {% else %}
                                    {% ifequal document.file_extension '.xlsx' %}
                                        <img src="{{MEDIA_URL}}images/sitegraphics/page_excel.png" alt="{% trans 'Filetype' %}" title="Excel 2007"/>
                                    {% else %}
                                        {% ifequal document.file_extension '.pptx' %}
                                            <img src="{{MEDIA_URL}}images/sitegraphics/page_white_powerpoint.png" alt="{% trans 'Filetype' %}" title="PowerPoint 2007"/>
                                        {% else %}
                                            <img src="{{MEDIA_URL}}images/sitegraphics/page_white.png" alt="{% trans 'Filetype' %}" title="{{ document.file_extension }}"/>
                                        {% endifequal %}
                                    {% endifequal %}
                                {% endifequal %}
                            {% endif %}
                        </td>
                        <td>{% if user.is_authenticated %}<a href="{{ tribe_url }}dms/{{ document.slug }}/download/"><img src="{{MEDIA_URL}}images/sitegraphics/arrow_down.png" alt="{% trans 'Download' %}" title="{% trans 'Download' %}"/></a>{% endif %}</td>
                        <td><a href="{{ document.get_absolute_url }}">{{ document|default:"Untitled" }}</a></td>
                        <td><a href="{% url profile_detail document.uploader %}">{{ document.uploader }}</a></td>
                        <td class="comment_stats">
                            {% score_for_object document as score %}
                            <span id="document_{{document.slug}}_score">
                                {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
                            </span>
                        </td>
                </tr>

                {% endfor %}
            {% else %}
               <tr class="odd"><td><img src="{{ MEDIA_URL }}images/sitegraphics/report.png" /></td><td></td><td colspan=3>{% trans "There have been no new documents added since your last visit" %}</td></tr>
            {% endif %}
        </table>

        {% if photos %}
            <h2>{% trans "Tribe Photo Pool" %}</h2>
            <div class="thumb-row clearfix">
                {% for photo in photos %}
                <div class="gallery-photo-thumb">
                    <a href="/photos/details/{{ photo.photo.id }}/"><img src="{{ photo.photo.get_thumbnail_url }}" alt="{{ photo.photo.title }}"/></a><br />
                    <img src="{{ MEDIA_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.photo.id }}/">{% get_comment_count for photo as commentcount %} {% blocktrans %}{{ commentcount }} Comments {% endblocktrans %}</a>
               </div>
               {% endfor %}
           </div>
        {% endif %}

    {% else %}
        <h1>{% trans "This is a private group!" %}</h1>
    {% endif_can_see %}

{% endblock %}
