{% extends "tribes/base.html" %}

{% load microblogging_tags %}
{% load i18n %}
{% load uni_form %}
{% load wiki %}
{% load wikiurl %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load tribe_tags %}

{% block head_title %}{{ tribe.name }}{% endblock %}

{% block boxtab_id %}id="members_tab"{% endblock %}

{% block body %}
    
    {% if user.is_authenticated %}

            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%">
                    {% for member in tribe.member_users.all %}
                        {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member 40 %}</div>
                            <div class="details"><a href="{% url profile_detail member.username %}" title="{{ member.username }}">{{ member.username }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                    {% endfor %}
                    {% if tribe.members.all|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
                </table>
            </div>

    {% endif %}
   
{% endblock %}
