{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load tribe_tags %}

{% block head_title %}{% blocktrans %}Tribes{% endblocktrans %}{% endblock %}

{% block group %}<li class="members_tab"><a href="{% url tribe_list %}"><span>{% trans "Groups" %}</span></a></li>{% endblock %}
{% block boxtab_id %}id="members_tab"{% endblock %}


{% block body %}
    <h1>{% trans "Tribes" %}</h1>
    
    <p>{% trans "A <b>tribe</b> is a group of people with some common interest." %}</p>
    {% if user.is_authenticated %}
            <p><a href="create/">{% trans "Start your own tribe" %}</a></p>

    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own tribe or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
    <form method="GET" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <input type="submit" value="Search" />
        {% if search_terms %}
            <a href="{% clear_search_url request %}">Clear Search Terms</a>
        {% endif %}
    </form>
    
    {% autopaginate tribes 50 %}
    {% if tribes %}
        <table class="topics">
            <tr class="even">
                <th width="16px"></th>
                <th>
                    {% ifequal order 'name_ascending' %}
                        <a href="{% url tribe_list_name_descending %}{% persist_getvars request %}">{% trans "Name" %} &uarr;</a>
                    {% else %}
                        {% ifequal order 'name_descending' %}
                            <a href="{% url tribe_list_name_ascending %}{% persist_getvars request %}">{% trans "Name" %} &darr;</a>
                        {% else %}
                            <a href="{% url tribe_list_name_ascending %}{% persist_getvars request %}">{% trans "Name" %}</a>
                        {% endifequal %}
                    {% endifequal %}
                </th>
                <th class="comment_stats" width="10%">
                    {% ifequal order 'most_members' %}
                        <a href="{% url tribe_list_least_members %}{% persist_getvars request %}">{% trans "Members" %} &darr;</a>
                    {% else %}
                        {% ifequal order 'least_members' %}
                            <a href="{% url tribe_list_most_members %}{% persist_getvars request %}">{% trans "Members" %} &uarr;</a>
                        {% else %}
                            <a href="{% url tribe_list_most_members %}{% persist_getvars request %}">{% trans "Members" %}</a>
                        {% endifequal %}
                    {% endifequal %}
                </th>
                <th class="comment_stats" width="15%">
                    {% ifequal order 'most_topics' %}
                        <a href="{% url tribe_list_least_topics %}{% persist_getvars request %}">{% trans "Topics" %} &darr;</a>
                    {% else %}
                        {% ifequal order 'least_topics' %}
                            <a href="{% url tribe_list_most_topics %}{% persist_getvars request %}">{% trans "Topics" %} &uarr;</a>
                        {% else %}
                            <a href="{% url tribe_list_most_topics %}{% persist_getvars request %}">{% trans "Topics" %}</a>
                        {% endifequal %}
                    {% endifequal %}
                </th>
                <th width="150px">
                    {% ifequal order 'date_newest' %}
                        <a href="{% url tribe_list_date_oldest %}{% persist_getvars request %}">{% trans "Created" %} &darr;</a>
                    {% else %}
                        {% ifequal order 'date_oldest' %}
                            <a href="{% url tribe_list_date_newest %}{% persist_getvars request %}">{% trans "Created" %} &uarr;</a>
                        {% else %}
                            <a href="{% url tribe_list_date_newest %}{% persist_getvars request %}">{% trans "Created" %}</a>
                        {% endifequal %}
                    {% endifequal %}
                </th>
            </tr>
            {% for tribe in tribes %}
                {% show_tribe tribe %}
            {% endfor %}
        </table>

        {% paginate %}
    {% endif %}
    
{% endblock %}
{%block calendar%}
{% endblock calendar%}
{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about-tribe').hide();
            $('#tribe-toggle').click(function() {
                $('#about-tribe').toggle();
                $('#about-tribe').autoscroll();
                return false;
            });
        });
    </script>
{% endblock %}
