{% extends "tribes/base.html" %}

{% load humanize %}
{% load microblogging_tags %}
{% load i18n %}
{% load uni_form %}
{% load wiki %}
{% load wikiurl %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load profile_tags %}
{% load tribe_tags %}

{% block head_title %}{{ tribe.name }}{% endblock %}

{% block boxtab_id %}id="members_tab"{% endblock %}

{% block body %}

{% load condition_tag %}

<h1>{% trans "Members of " %} <a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a>: {{ tribe_members_all.count }}</h2>

    {% if_can_see tribe user %}
        {% if are_moderator %}
            <h3>{% trans "Find members of this tribe to kick or promote" %}</h3>
            <form method="GET" action="" >
                <p>
                    <input type="text" name="search_members" value="{{ search_terms }}" />
                    <input type="submit" value="Search" />
                    {% if search_terms %}
                        <a href="{% clear_search_url request %}">{% trans "Clear Search Terms" %}</a>
                    {% endif %}
                </p>
            </form>

            <h3>{% trans "Find users to add to this tribe" %}</h3>
            <form method="GET" action="">
                <p>
                    <input type="text" name="search_all" value="{{ search_terms_all }}" />
                    <input type="submit" value="Search" />
                    {% if search_terms_all %}
                        <a href="{% clear_search_url request %}">{% trans "Clear Search Terms" %}</a>
                    {% endif %}
            </p>
            </form>
        {% endif %}

        {% if tribe_members %}
        <h2>{% trans "Members to kick or promote" %}</h2>
        <table class="topics">
                    <tr class="even"><th width="40px"></th><th width="36px"></th><th width="174px">{% trans "Username" %}</th><th>{% trans "Full name" %}</th><th class="comment_stats">{% trans "Change member status" %}</th><th class="comment_stats">{% trans "Kick" %}</th></tr>
            {% for member in tribe_members %}
                <tr class="{% cycle 'odd' 'even' as rows %}">
                    {% show_profile member.user %}
                        <td class="comment_stats">
                            {% ifequal tribe.creator user %}
                                {% if member.moderator %}
                                        <form method="GET" action="">
                                            <input type="image" src="{{ MEDIA_URL }}images/sitegraphics/award_star_delete.png" alt="{% trans 'Demote' %}" title="{% trans 'Demote to normal member' %}" />
                                            <input type="hidden" name ="demote" value="{{ member.user.username }}" />
                                        </form>
                                {% else %}
                                    <form method="GET" action="">
                                        <input type="image" src="{{ MEDIA_URL }}images/sitegraphics/award_star_add.png" alt="{% trans 'Promote' %}" title="{% trans 'Promote to moderator' %}" />
                                        <input type="hidden" name ="promote" value="{{ member.user.username }}" />
                                    </form>
                                {% endif %}
                            {% endifequal %}
                        </td>
                        <td class="comment_stats">
                            <form method="GET" action="">
                                <input type="image" src="{{ MEDIA_URL }}images/sitegraphics/delete.png" alt="{% trans 'Kick' %}" title="{% trans 'Kick from tribe' %}" />
                                <input type="hidden" name ="kick" value="{{ member.user.username }}" />
                            </form>
                        </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if users %}
        <h2>{% trans "Users to add" %}</h2>
        <table class="topics">
            <tr class="even"><th width="40px"></th><th width="36px"></th><th width="174px">{% trans "Username" %}</th><th>{% trans "Full name" %}</th><th class="comment_stats">{% trans "Add" %}</th></tr>
            {% for user in users %}
                <tr class="{% cycle 'odd' 'even' as rows %}">
                    {% show_profile user %}
                    <td class="comment_stats">
                        <form method="GET" action="">
                            <input type="image" src="{{ MEDIA_URL }}images/sitegraphics/add.png" alt="{% trans 'Invite' %}" title="{% trans 'Add user to tribe' %}" />
                            <input type="hidden" name="invite" value="{{ user.username }}" />
                            <input type="checkbox" name="moderator" value="moderator" />{% trans "Invite as moderator?" %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% autopaginate tribe_members_all %}
        
        {% ifequal order 'date'  %}
            {% regroup tribe_members_all by date_joined.date as members_by_date_joined %}
            <h2>{% if tribe_members or users %}{% trans "All members ordered by join date" %}{% else %}{% trans "Ordered by join date" %}{% endif %}</h2></h2>
            <p>{% trans "Order by:" %} <a href="?order=name{% if search_terms %}&search={{ search_terms }}{% endif %}">{% trans "Name" %} &uarr;</a></p>
            {% for date in members_by_date_joined %}
                <h3>{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h3>
                <table class="topics">
                    <tr class="even"><th width="40px"></th><th width="36px"></th><th width="174px">{% trans "Username" %}</th><th>{% trans "Full name" %}</th></tr>
                    {% for member in date.list %}
                        <tr class="{% cycle 'odd' 'even' as rows %}">
                            {% show_profile member.user %}
                        </tr>
                    {% endfor %}
                    {#% resetcycle rows %#}
                </table>
            {% endfor %}
        {% else %}
            <h2>{% if tribe_members or users %}{% trans "All members ordered by username" %}{% else %}{% trans "Ordered by username" %}{% endif %}</h2>
            <p>{% trans "Order by:" %} <a href="?order=date{% if search_terms %}&search={{ search_terms }}{% endif %}">{% trans "Date" %} &darr;</a></p>
            <table class="topics">
                    <tr class="even"><th width="40px"></th><th width="36px"></th><th width="174px">{% trans "Username" %}</th><th>{% trans "Full name" %}</th></tr>
                {% for member in tribe_members_all %}
                    <tr class="{% cycle 'odd' 'even' as rows %}">
                        {% show_profile member.user %}
                    </tr>
                {% endfor %}
            </table>
        {% endifequal %}

        {% paginate %}

    {% else %}
        <h1>{% trans "This is a private group!" %}</h1>
    {% endif_can_see %}	

{% endblock %}
