{% extends "tribes/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load tribe_tags %}

{% block head_title %}{% trans "Your Tribes" %}{% endblock %}

{% block body %}

<h1>{% trans "Your Tribes" %}</h1>
<table class="tribes">
{% if user.tribe_set.all %}
    <tr class="even"><th width="16px"></th><th width="16px"></th><th>{% trans "Name" %}</th></tr>
    {% for tribe in user.tribe_set.all %}
        {% if not tribe.deleted %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><img src="/site_media/images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /></td>
            <td>
                {% ifequal tribe.creator user %}
                    <img src="/site_media/images/sitegraphics/crown.gif" alt="{% trans 'Administrator' %}" title="{% trans 'Administrator' %}" />
                {% else %}
                    <input type="image" src="/site_media/images/sitegraphics/cancel.png" value="{% trans 'leave tribe' %}" title="{% trans 'Leave tribe' %}" />
                    <input type="hidden" name="action" value="leave" />
                {% endifequal %}
            </td>
            <td><a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a></td>
        </tr>
       {% endif %}
    {% endfor %}
{% else %}
    {% url tribe_thing_list "" as tribe_url %}
    <tr class="odd"><td></td><td></td><td>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">tribes</a>.{% endblocktrans %}</td></tr>
{% endif %}
</table>

{% endblock %}
