@media screen {@import "uni-form-generic.css";
/* Keep in mind that wherever you see 'Required property' it means that the property must exist */

/* ------------------------------------------------------------------------------ */

  /* Generals */
  .uniForm fieldset{}
    .uniForm fieldset legend{ color: #333; font-weight: bold; font-size: 100%; margin: 0; padding: 1.5em 0; }
    
    /* This is the main unit that contains our form elements */
    .uniForm .ctrlHolder{ padding: 7px; border-bottom: 1px solid #dfdfdf; } /*** Changed - see bottom of page ***/
    
    .uniForm .buttonHolder{ text-align: right; }
      .uniForm .resetButton{ float: left; }
      .uniForm .primaryAction{ font-weight: bold; }
    
    /* This class gets added to div.ctrlHolder to highlight the row */
    .uniForm .focused{ background: #fffcdf; } /*** Changed - see bottom of page ***/
      
      /* .inlineLabel is used for inputs within labels - checkboxes and radio buttons */
      .uniForm .inlineLabel input,
      .uniForm .inlineLabels .inlineLabel input,
      .uniForm .blockLabels .inlineLabel input{ float: left; margin: 0 .4em 0 0; }
        .uniForm .inlineLabel span{ float: left; width: 90%; }
        
/* ------------------------------------------------------------------------------ */

    /* .blockLabels (default style, will be applied even if you don't class the parent element) */
    .uniForm .blockLabels .ctrlHolder{}
      
      .uniForm label,
      .uniForm .blockLabels label,
      .uniForm .blockLabels .label{ margin: 0 0 .5em 0; }
      
      .uniForm .textInput,
      .uniForm .blockLabels .textInput,
      .uniForm .blockLabels .fileUpload{ width: 53%; /* <- Required property */ }
    
      .uniForm .selectInput,
      .uniForm select,
      .uniForm .blockLabels .selectInput,
      .uniForm .blockLabels select{ width: 53.5%; /* <- Required property */ }
      .uniForm textarea,
      .uniForm .blockLabels textarea{ width: 53%; /* <- Required property */ height: 12em; }

      .uniForm .formHint,
      .uniForm .blockLabels .formHint{ width: 45%; /* <- Required property */ font-size: .9em; /*color: #777;*/ position: relative; top: -.5em; } /*** Changed - see bottom of page ***/
      
      .uniForm .multiField,
      .uniForm .blockLabels .multiField{ width: 53%; }
        .uniForm .multiField .inlineLabel,
        .uniForm .blockLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
        .uniForm .multiField .blockLabel,
        .uniForm .blockLabels .multiField .blockLabel{ width: 30%; margin: 0 10px 0 0; }
        .uniForm .multiField .blockLabel .textInput,
        .uniForm .multiField .blockLabel .selectInput,
        .uniForm .multiField .blockLabel select,
        .uniForm .blockLabels .multiField .blockLabel .textInput,
        .uniForm .blockLabels .multiField .blockLabel .selectInput,
        .uniForm .blockLabels .multiField .blockLabel select{ width: 100%; margin: .3em 0 0 0; }

/* ------------------------------------------------------------------------------ */

    /* .inlineLabels */
    .uniForm .inlineLabels .ctrlHolder{}
    
    .uniForm .inlineLabels label,
    .uniForm .inlineLabels .label{ width: 45%; /* <- Required property */ margin: .3em 2% 0 0; /* <- Required property */ }
    
    .uniForm .inlineLabels .textInput,
    .uniForm .inlineLabels .fileUpload{ width: 45%; /* <- Required property */ }
    
    .uniForm .inlineLabels .selectInput,
    .uniForm .inlineLabels select{ width: 45%; /* <- Required property */ }
    
    .uniForm .inlineLabels textarea{  width: 45%; /* <- Required property */ height: 12em; }

    .uniForm .inlineLabels .formHint{ margin-top: 0; margin-left: 47%; font-size: .9em; /*color: #777;*/ position: static; } /*** Changed - see bottom of page ***/
    
    .uniForm .inlineLabels .multiField{ width: 45%; /* <- Required property */ margin: 0 0 .3em 0; }
      .uniForm .inlineLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
      .uniForm .inlineLabels .multiField .blockLabel{ float: left; width: 26%; margin: 0 3% 0 0; }
      .uniForm .inlineLabels .multiField .blockLabel .textInput,
      .uniForm .inlineLabels .multiField .blockLabel .selectInput,
      .uniForm .inlineLabels .multiField .blockLabel select{ width: 100%; margin: .3em 0 0 0; }

/* Focus pseudoclasses */
.uniForm .ctrlHolder .textInput:focus{ outline: none; /* Get rid of the 'glow' effect in WebKit, optional */ }
.uniForm .ctrlHolder textarea:focus{ outline: none; /* Get rid of the 'glow' effect in WebKit, optional */ }
.uniForm div.focused .formHint{ /*color: #333;*/ } /*** Changed - see bottom of page ***/

/* Columns (they are floated left by default) */
.uniForm .col{ width: 47.9%; /* <- Required property */ margin: 0 2% 20px 0; }
/* Use .first and .last classes to control the layout/spacing of your columns */
.uniForm .col.first{ width: 49%; /* <- Required property */ float: left; clear: none; }
.uniForm .col.last{ width: 49%; /* <- Required property */ float: right; clear: none; margin-right: 0; }

/* Messages */
.uniForm #errorMsg{ background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; margin: 0 0 1.5em 0; padding: 7px; } /*** Changed - see bottom of page ***/
.uniForm .error{ background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; }

  .uniForm #errorMsg dt, .uniForm #errorMsg h3{ margin: 0 0 .5em 0; font-size: 100%; line-height: 100%; font-weight: bold; }
  .uniForm #errorMsg dd{ margin: 0; padding: 0; }
    .uniForm #errorMsg ol{ margin: 0; padding: 0; }
      .uniForm #errorMsg ol li{ margin: 0; padding: 2px; list-style-position: inside; border-bottom: 1px dotted #df7d7d; position: relative; }
    .uniForm .errorField{ color: #af4c4c; margin: 0 0 6px 0; padding: 4px; background: #ffbfbf; }

.uniForm #OKMsg{ background: #C8FFBF; border: 1px solid #A2EF95; border-width: 1px 0; margin: 0 0 1.5em 0; padding: 7px; }
  .uniForm #OKMsg p{ margin: 0; }

/*
IT IS STRONGLY ADVISED TO MAKE YOUR CHANGES AFTER THIS COMMENT BY REPEATING (COPYING) THE SELECTOR FROM ABOVE, 
AND MODIFYING IT WITH YOUR OWN PROPERTIES/VALUES. THIS IS RECOMMENDED BECAUSE IF YOU HAPPEN TO RUN INTO TROUBLE, 
YOU CAN VERY EASILY REVERT TO A GENERIC STYLE OF UNI-FORM. BEST OF LUCK... 
*/

/* ------------------------------------------------------------------------------ */

/*.uniForm {
    margin: 0.5em 0;
}*/

.uniForm .focused {
    background: #0E3037;
    color: #DFDFDF;
}
.uniForm .ctrlHolder{
    border-bottom: none;
}
.uniForm #errorMsg{
    margin: 0.5em 0 1.5em 0;
}
/* Commented out "Color" in lines 47, 78 and 90 */
}
@media screen {html {
	margin: 10px;
}

body {
	margin: 0px auto;
	padding:0px;
	width:100%;
	background:#98aaae;
	min-width:974px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	max-width: 1224px;
	font-size:90%;
	font-family: tahoma, arial, helvetica, trebuchet ms, arial narrow;
	color:#0E3037;
}

a, a:visited {
	color:#369;
}

a:hover {
/*	color:#fff;*/
/*	background:#369;*/
	text-decoration:underline;
}

h1, h2, h3 {
	margin: .6em 0 .4em 0;
	padding: 0;
    clear: left;
}

p {
	margin:0;
	padding:.4em 0 .8em 0;
/*	margin:.4em 0 .8em 0;*/
/*	padding:0;*/
}
ul {
	margin:0;
	padding-top: .4em;
    padding-bottom: .8em;
}
img {
/*	margin:10px 0 5px;*/
	border: none;
    vertical-align: middle;
}
img.captcha {
    margin: 3px;
}
table {
    width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
/*	margin: 0.5em 0;*/
}
table th {
    text-align: left;
}
#header {
	float:left;
	width:100%;
	padding:0;
	margin:0;
/*	border-bottom:1px solid #000;*/
}

#header p {
	padding:.5em 15px .2em 15px;
	margin:0;
}

#header h1  {
	padding:.2em 15px;
	margin:0;
}

#header h2  {
	padding:.2em 15px .7em 15px;
	margin:0;
}

#colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
/*	background:#ffd8b7;*/		/* Left column background colour */
}

#colmid {
	float:left;
	width:200%;
	position:relative;
	left:200px;
/*	background:#fff;*/    	/* Centre column background colour */
}

#colright {
	float:left;
	width:100%;
	position:relative;
	left:50%;
	margin-left:-400px;
/*	background:#ff9;*/    	/* Right column background colour */
}

#col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:100%;
}

#col1pad {
	margin: 0 0 0 400px;
	overflow: hidden;
}

#col1 {
	width: 100%;
	overflow: hidden;
}

#col2 {
	float: left;
	width: 200px;
	position: relative;
	margin-left: -50%;
	left: 200px;
	overflow: hidden;
}
/*#col2 img {
    vertical-align: middle
}*/

#col3 {
	float: left;
	width: 200px;
	position: relative;
	left: 0px;
	overflow: hidden;
}

.columntop {
	margin-top: 10px;
	height: 15px;
	background-image:url('/site_media/images/sitegraphics/coltop.gif');
}

.columnmid {
	background-image:url('/site_media/images/sitegraphics/colbackground.gif');
	padding: 5px;
}

.columnbottom {
	height: 15px;
	background-image:url('/site_media/images/sitegraphics/colbottom.gif');
}

#content {
	margin: 15px;
/*    font-size: 90%;*/
}

#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}
#site_wide_announcements {
    background: yellow;
    padding: 10px;
    text-align: center;
}
#site_wide_announcements ul {
    padding: 0;
    margin: 0;
}
/*h1 {
    margin: 0;
}*/
#tabhead {
    position: relative;
    background: #035 url('/site_media/pinax/images/heading.png') left top repeat-x;
    border-bottom: 1px solid #000; /* tab border */
}
#tabhead .logo {
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
}
#tabhead .logo img {
    width: 190px;
    height: 79px;
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #DEF; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}
#breadcrumbs {
/*    float: left;*/
}
form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 3px;
    border: solid 1px #C6C6C6;
/*    border-bottom: solid 1px #E3E3E3;*/
    color: #0E3037;
/*    font-size: 12pt;*/
    background: #F3F3F3 url('/site_media/pinax/images/form-shadow.png') left top repeat-x;
}
/*
input[type="submit"] {
    background-color: #FFF0F5;
    border: 1px solid #FF0000;
    cursor: pointer;
    color: #FF0000;
    text-decoration: underline;
}
*/
.clearboth {
    clear: both;
}

ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}
ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #98AAAE;
    margin: 0 0 3px 0;
    border: 1px solid #0E3037;
}
ul#messages li a {
    float: right;
    color: #0E3037;
}
.verified {
    color: green;
}
.remove {
    color: red;
}
.unverified {
    color: gray;
}
.primary {
    font-weight: bold;
}
table.email_list td {
    padding: 5px 10px;
}
table.invitation_list {
    width: 500px;
}
table.invitation_list td {
    padding: 5px 10px;
}
table.contact_list {
    width: 500px;
}
table.contact_list td {
    padding: 5px 10px;
}
.friendship_request {
    padding: 5px;
    background: #DEF;
    border: 1px solid #9BC;
}
.friendship_request p {
    padding: 0;
    margin: 0;
}
.friendship_request form {
    padding: 0;
    margin: 0;
}
.friendship_request p.invitation_message {
    font-size: 12pt;
    margin: 5px;
}
.warning {
    color: red;
    font-weight: bold;
}

div.notice {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}
div.unseen_notice {
    margin: 0;
    padding: 5px;
    background: #DFC;
    border-bottom: 1px solid #CCC;
}
h2.notice_date,
h2.join_date,
h2.creation_date
{
    font-size: 12pt;
    color: #666;
    border-bottom: 1px solid #999;
}
span.notice_type {
    color: #666;
}
span.notice_message {
}
span.notice_time {
    color: #999;
    font-size: 90%;
}
table.notice_settings td {
    line-height: 90%;
    padding: 5px 10px;
    
}
span.notice_type_description {
    color: #666;
    font-size: 80%;
    font-style: italic;
}
/*#profile_avatar {
    float: left;
}*/
table.profile_info img {
    vertical-align: text-bottom;
}
table.profile_info th {
    vertical-align: top;
    text-align: left;
    padding: 5px;
    font-weight: bold;
    width: 100px;
}
table.profile_info td {
    vertical-align: top;
    padding: 5px;
    font-size: 90%;
}
#profile_avatar {
    width: 200px;
    text-align: center;
}
ul.avatar_choices,ul.avatar_choices ul {
    margin-left: 0px;
    padding-left: 0px;
}
ul.avatar_choices li {
    display: inline;
    list-style-type: none;
}
.invitation_5, .invitation_7 {
    color: green;
    font-weight: bold;
}
.invitation_2 {
    color: gray;
}
table.messages th {
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
table.messages td {
/*    vertical-align: top;*/
    padding: 5px;
    font-size: 90%;
}
table.messages td.view {
    text-align: right;
}
.even {
	color: #DFDFDF;
	background-color: #0E3037;
}
.odd {
    background-color: #DFDFDF;
}
/*.messages .even, .topic .even, .topics .even, .tribes .even {
	color: #DFDFDF;
	background-color: #0E3037;
}
.messages .odd, .topic .odd, .topics .odd, .tribes .odd {
    background-color: #DFDFDF;
}*/
.messages {
    margin: 0px;
    padding: 0px;
}
#subnav {
    margin: 0;
    padding: 0;
    background: #DEF; /* tab colour */
    border-bottom: 1px solid #9BC;
}
#subnav ul {
    float: right;
    margin: 0 20px;
    padding: 0;
}
#subnav ul li {
    display: inline;
    list-style-type: none;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: #444;
    padding: 4px 20px;
}
#subnav ul a:hover {
    color: #FFF;
    background: #9BC;
}

dl.message-headers {
/*    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;*/
    padding: 5px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

dl.message-headers dt {
    width: 70px;
    text-align: right;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    color: #444;
}
dl.message-header dd {
    float: left;
}
div.right_panel {
    margin: 10px 0px;
    padding: 5px;
    width: 150px;
    border: 1px solid #0E3037;
    float: right;
    z-index: 999;
}

div.left_panel {
    width: 550px;
}

div.friends {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.friends h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.friends .avatar {
    padding: 0;
    text-align: center;
}
div.friends .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}
table.tribes{
    width: 50%;
}
table.tribes th {
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
table.tribes td {
/*    vertical-align: top;*/
    padding: 5px;
    font-size: 90%;
}
table.tribes .comment_stats {
    text-align: center;
}
table.members {
/*    background: #DEF;*/
/*    padding: 8px;*/
/*    margin-bottom: 20px;*/
	table-layout: fixed;
    margin: 0.5em 0;
}
/*table.members h2 {
    margin: 0 0 5px 0;
    padding: 0;
}*/
table.members td {
    padding-bottom: 1em;
}
table.members td.avatar {
    width: 50px;
/*    text-decoration: none;*/
}
table.members td.details {
    overflow: hidden;
/*    width: 33%;*/
/*    margin: 0 0 12px 0;*/
}
div.notice_settings {
    background: #DEF;
    padding: 8px;
    margin: 20px 0;
}
div.notice_settings h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.tweet {
    width: 500px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    font-size: 12pt;
}
div.tweet .timesince {
    color: #999;
    font-size: 80%;
}
span#chars_left {
    font-size: 16pt;
}
div.tweet .reply {
    font-size: 80%;
}

#locale_switcher {
    display:inline;
}

.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_results li img {
    float: left;
    margin: 5px;
}

.ac_loading {
    background: white url('/site_media/indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}


/* pagination */
.pagination {
    margin: 10px 0;
}
.pagination .disabled {
    padding: 3px;
    color: #DFDFDF;
    border: 1px solid #0E3037;
}
.pagination .current {
    padding: 3px;
    color: #DFDFDF;
    border: 1px solid #0E3037;
    background: #0E3037;
}
.pagination a {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #0E3037;
    color: #0E3037;
    background: #98AAAE;
}
.pagination a:hover {
    border: 1px solid #0E3037;
    color: #DFDFDF;
    background: #0E3037;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

/* bookmarks */
table.narrow {
    width: 500px;
}
table.bookmarks td {
    vertical-align: top;
    padding: 5px;
}
table.bookmarks td h2 {
    margin: 0;
    padding: 0;
}
table.bookmarks td.vote {
    width: 80px;
    text-align: center;
    vertical-align: middle;
}
/*.bookmarks .even {
    background-color: #FAFAFA;
}
.bookmarks .odd {
    background-color: #F3F3F3;
}*/
div.url {
    color: #666;
    font-size: 90%;
    font-style: italic;
}



dl.what_next {
    margin: 2em;
}
dl.what_next dt {
    font-size: 120%;
}
dl.what_next dd {
    margin: 0 0 1em 0;
    font-style: italic;
}
p.what_next {
    font-size: 120%;
}

/* blogs */
.blog-post h2 {
    margin: 10px 0 0 0;
    font-style: italic;
}
.blog-post-tease {
    width: 500px;
    float: left;
}
.blog-post-meta {
    width: 200px;
    float: left;
    margin-left: 30px;
}
.blog-post-meta img { 
    border: 1px solid #666;
}
.blog-list tr.odd {
    background-color: #f3f3f3;
}
.blog-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}
.blog-list td p {
    padding: 0;
    margin: 0;
}

.blog-post-meta img.noborder {
    border: 0;
}

/* projects */
.project_stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}

/* tasks */

/*.tasks .even {
    background-color: #FAFAFA;
}
.tasks .odd {
    background-color: #F3F3F3;
}*/
table.task td, table.tasks td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.task, table.tasks {
    width: 100%;
}

div.task-meta {
    float: left;
    width: 150px;
    margin: 4px;
    padding: 4px;
    font-size: 80%;
}

div.task div.bulk h2 {
    margin: 0;
}
div.task-meta2 {
    color: #666;
    margin-top: 1em;
    font-size: 90%;
}

div.task-meta2 b {
    color: #000;
}

tr.task_resolved td a, tr.task_closed td a {
    text-decoration: line-through;
}

h2.task_resolved, h2.task_closed {
    text-decoration: line-through;
}

/* PHOTOS **************************************/
.thumb-row {
    margin: 20px 0;
    padding: 20px 0;
}
.gallery-photo-thumb {
    width: 100px; 
    margin: 10px 10px 20px 0;
    float: left;
    text-align: center;
}

.photo-right-profile, .photo-right-tools {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}

.photo-profile-details {
    font-size: 0.9em;
}

.photo-avatar {
    float: left;
    margin-right: 10px;
}

.photo-avatar img {
    border: 1px solid #666;
}

.photo-right-tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.photo-right-tools ul li {
    background: #fff;
    padding: 2px 4px;
    margin: 2px 0;
}

.photo-right-tools li a {
    text-decoration: none;
}

.photo-right-tools li:hover {
    background: #DDDDDD;
}

.photo-profile-details h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.photo-right-tools h2 {
    margin: 0 0 5px 0;
    padding: 0;
}

#embed-code textarea {
    width: 150px;
    font-size: 0.8em;
}
div.embed {
    margin: 10px 0;
    font-style: none;
}

.photo-right-tools form {
    margin: 0;
    padding: 0;
}
/* FORMS **********************************/

/* ----------- basic-sm ----------- */

#basic-form .underlineme {
    border-bottom: 4px solid #DEDEDE;
    margin-top: 15px;
}
#basic-form hr {
  border-top:solid 4px #DEDEDE;
}
#basic-form p{
  color:#666666;
  border-bottom:solid 1px #dedede;
  padding-bottom: 5px;
}
#basic-form label{
  display:block;
  font-weight:bold;
}
#basic-form td {
  padding: 2px;
}
#basic-form td.rightd {
  padding-right: 70px;
}
#basic-form span{
  color: #aaa;
  font-style: italic;
  width:300px;
}
#basic-form input, #basic-form select{
  float:left;
  margin:2px 0 2px 10px;
  font-size: 11px;
}

#basic-form textarea{
  float:left;
  margin:2px 0 2px 10px;
  font-size: 11px;
}

#basic-form .button{ 
  clear:both;
  width:125px;
  height:31px;
  text-align:center;
  line-height:20px;
  color:#FFFFFF;
  font-size:11px;
  font-weight:bold;
  border: 0 transparent;
  background: url('/site_media/button.png') no-repeat;
  margin-top: 20px;
  cursor: pointer;
}
.delete_form {
	color:#0E3037;
    padding: 5px;
    background: #F99;
}

/* Fieldsets */
fieldset { padding: 20px; margin: 0 0 1.5em 0; border: 2px solid #ddd; }
legend { padding: 0 .4em; font-weight: bold; font-size: 1.2em; }

.left-form {
    width: 360px;
    float: left;
    margin-right: 60px;
}

.right-form {
    width: 360px;
    float: right;
}
.right-form p {
    line-height: 21px;
}
.padtop {
    margin-top: 20px;
}

.signupform {
    float: left;
}

/* form toggle */

/*.form-toggle p {
    margin-bottom: 2px;
}*/

.form-toggle p span {
    background: #0E3037;
    color: #DFDFDF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

/*.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}*/

.form-toggle input[type="submit"] {
}

/* locations */
div#ymap {
    width: 350px;
    height: 200px;
    float: right;
    border: 1px solid gray; 
}
}
@media screen {/* GENERAL TAB STYLING */

/* Tabs in content div */
#boxtab {
	clear:left;
	float:left;
	padding:0;
	background:#98AAAE url('/site_media/pinax/images/boxtab.gif') bottom repeat-x;
	width:100%;
	overflow:hidden;
	font-family:Verdana, Geneva, sans-serif;
}
#boxtab ul {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
/*	left:50%;*/
	text-align:center;
	z-index:1;
}
#boxtab ul li {
	display:block;
	float:left;
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
	position:relative;
/*	left:5px;*/
	left:214px;
/*	right:50%;*/
}
#boxtab ul#admin {
	float:right;
/*	right:10px;*/
	right:428px;
	z-index:0;
}
#boxtab ul li a {
	display:block;
	float:left;
	margin:0 1px;
	padding:5px 10px;
	background:#98AAAE;
	text-decoration:none;
	color:#0E3037;
	border-top:1px solid #0E3037;
	border-left:1px solid #0E3037;
	border-right:1px solid #0E3037;
	position:relative;
	bottom:1px;
}
#boxtab ul li a:hover {
	background:#0E3037;
	color:#DFDFDF;
}
}