{% extends "site_base.html" %}

{% load i18n %}
{% load wikiurl %}

{% block boxtab_id %}id="wiki_tab"{% endblock %}

{% block boxtab %}
	<div id="boxtab">
		<ul>
			<li class="tab index_tab"><a href="{{ group.get_absolute_url }}"><span>{% trans "Index" %}</span></a></li>
			<li class="tab board_tab"><a href="{{ group.get_absolute_url }}topics"><span>{% trans "Message board" %}</span></a></li>
			<li class="tab wiki_tab"><a href="{{ group.get_absolute_url }}wiki"><span>{% trans "Wiki" %}</span></a></li>
			<li class="tab docs_tab"><a href="#"><span>{% trans "Knowledge Bank" %}</span></a></li>
			<li class="tab members_tab"><a href="#"><span>{% trans "Members" %}</span></a></li>
		</ul>
		{% if are_member %}
		<ul id="admin">
			<li><a href="#"><span>{% trans "Admin" %}</span></a></li>
		</ul>
		{% endif %}
	</div>
{% endblock %}


{% block subnav %}
    <ul>
        <li><a href="{% wikiurl list group %} ">{% trans "All Articles" %}</a></li>
    </ul>
{% endblock %}
