{% extends "site_base.html" %}

{% load i18n %}
{% load wikiurl %}

{% block boxtab_id %}id="wiki_tab"{% endblock %}
{% block group %}<li class="members_tab"><a href="{% url tribe_members group.slug  %}"><span>{% trans "Members" %}</span></a></li>{% endblock %}

{% block admin_tab %}
    {% ifequal user.id group.creator.id %}
	<ul id="admin">
		<li><a href="{% url tribe_admin group.slug  %}"><span>{% trans "Group Admin" %}</span></a></li>
	</ul>
    {% endifequal %}

{% endblock %}

{% block subnav %}
    <ul>
        <li><a href="{% wikiurl list group %} ">{% trans "All Articles" %}</a></li>
    </ul>
{% endblock %}
