{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki %}
{% load wikiurl %}
{% load pagination_tags %}
{% load humanize %}
{% load condition_tag %}

{% block head_title %}{% trans "Wiki for" %} {{ group.name }}{% endblock %}

{% block body %}

    {% if_can_see group user %}

        {% wiki_title group %}
        {% include "wiki/searchbox.html" %}
        {% if allow_write %}
            <p><a href="{% wikiurl edit group new_article %}">{% trans "Start a new article" %}</a></p>
        {% endif %}

        {% if articles %}
            <h2>{% trans "Articles" %}</h2>
            {% autopaginate articles %}
            {% ifequal order 'date'  %}
                <p>{% trans "Order by:" %} <a href="?order=name">{% trans "Name" %} &uarr;</a></p>
                {% regroup articles by created_at.date as articles_by_creation_date %}
                {% for date in articles_by_creation_date %}
                    <h3>{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h3>
                        <table class="topics">
                            <tr class="even"><th width="16px"></th><th width="20%">{% trans "Title" %}</th><th>{% trans "Summary" %}</th><th width="20%">{% trans "Latest editor" %}</th></tr>
                                {% for article in date.list %}
                                    {% show_teaser article %}
                                {% endfor %}
                        </table>
                {% endfor %}
            {% else %}
                <p>{% trans "Order by:" %} <a href="?order=date">{% trans "Date" %} &darr;</a></p>
                <table class="topics">
                    <tr class="even"><th width="16px"></th><th width="20%">{% trans "Title" %}</th><th>{% trans "Summary" %}</th><th width="20%">{% trans "Latest editor" %}</th></tr>
                        {% for article in articles %}
                            {% show_teaser article %}
                        {% endfor %}
                </table>
            {% endifequal %}
        {% else %}
            <p>{% trans "There are no articles yet" %}{% if allow_write %} - <a href="{% wikiurl edit group new_article %}">{% trans "create an article..." %}</a>{% endif %}</p>
        {% endif %}

    {% else %}
        <h1>{% trans "This is a private group!" %}</h1>
    {% endif_can_see %}	

{% endblock %}

