{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki %}
{% load wikiurl %}
{% load extra_tagging_tags %}


{% block head_title %}Wiki for {{ group.name }} {% endblock %}

{% block body %}
{% load condition_tag %}
{% if_can_see group user %}
    {% if allow_write or article.id %}
        <div class="right_panel">
            <table>
            {% if article.id %}
                {% if allow_write %}
                    <tr>
                        <td><img src="{{MEDIA_URL}}images/sitegraphics/page_white_edit.png" alt="{% trans 'Edit' %}"/></td>
                        <td><a href="{% wikiurl edit group article %}">{% trans "Edit this article" %}</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td><img src="{{MEDIA_URL}}images/sitegraphics/page_white_stack.png" alt="{% trans 'History' %}"/></td>
                    <td><a href="{% wikiurl article_history group article %}">{% trans "Editing history" %}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td><img src="{{MEDIA_URL}}images/sitegraphics/page_white_add.png" alt="{% trans 'Create' %}"/></td>
                    <td><a href="{% wikiurl edit group article %}">{% trans "Create this article" %}</a></td>
                </tr>
            {% endif %}
            </table>
        </div>
    {% endif %}

    {% wiki_title group %}

    <h2>{{ article.title }}</h2>

    {% show_tags_for article %}

    {% if not article.id and allow_write %}
        <p>{% trans "This article does not exist." %}</p>
        <p><a href="{% wikiurl edit group article %}">{% trans "Create it now?" %}</a></p>
    {% endif %}

    {% render_content article %}

    {# @@@ this should be done via inclusion tag provided by notification #}
    {% if article.id and can_observe %}
        {% if is_observing %}
            <form action="{% wikiurl stop_observing group article %}" method="post">
                <input type="submit" value="{% trans 'Stop Observing Article' %}">
            </form>
        {% else %}
            <form action="{% wikiurl observe group article %}" method="post">
                <input type="submit" value="{% trans 'Observe Article' %}">
            </form>
        {% endif %}
    {% endif %}

{% else %}
    <p>{% trans "This is a private group!" %}</p>
{% endif_can_see %}	

{% endblock %}


