{% load avatar_tags %}
{% load biblnet_tags %}
{% load i18n %}
{% load cache %}

<div class="dynamic_avatars">
    {% for user in latest_users reversed %}
        <a href="{% url profile_detail user.username %}" title="{{ user.get_profile.get_name }}: {{ user.get_profile.last_visit_storage|timesince }} ago">{% cache 34560 user %}{% avatar user 40 %}{%endcache%}</a>
    {% endfor %}
</div>

<div class="dynamic_topics">
{% if latest_topics %}
    {% for latest_topic in latest_topics %}
        <div class="dynamic_line">{{ latest_topic.created|date }} {{ latest_topic.created|time }} {% trans "in" %} <a href="{{ latest_topic.tribe.get_absolute_url }}">{{ latest_topic.tribe }}</a></div>
        <div class="dynamic_line"><a href="{% url profile_detail latest_topic.creator%}">{{ latest_topic.creator.get_profile.get_name }}</a> {% trans "created:" %} <a href="{% url tribe_topic latest_topic.id%}">{{latest_topic.title|truncate_chars:30}}</a></div>
    {% endfor %}
{% endif %}
</div>

<div class="dynamic_topics">
{% if latest_posts %}
    {% for post in latest_posts %}
        <div class="dynamic_line">{{ post.date_submitted|date }} {{ post.date_submitted|time }} {% trans "in" %} <a href="{{ post.content_object.tribe.get_absolute_url }}">{{ post.content_object.tribe }}</a></div>
        <div class="dynamic_line"><a href="{% url profile_detail post.user %}">{{ post.user.get_profile.get_name }}</a> {% trans "replied to:" %} <a href="{% url tribe_topic post.get_content_object.id %}">{{post.get_content_object.title|truncate_chars:30}}</a></div>
    {% endfor %}
{% endif %}
</div>
