{% extends "site_base.html" %}
{% load i18n %}
{% load dms %}
{% load voting_tags %}
{% block body %}
<h1>Global Knowledge Bank</h1>
        <table class="topics">
            <tr class="even">
                <th width="16px"></th>
                <th width="16px">
                </th>
                <th>
                    {% trans "Title" %}

                </th>
                <th width="20%">
                    {% trans "Author" %}

                </th>
                <th class="comment_stats" width="80px">{% trans "Grade" %}</th>
                <th class="comment_stats" width="80px">
                    {% trans "Score" %}
                </th>
            </tr>
            {% for document in documents %}
                <tr class="{% cycle 'odd' 'even' %}">
                        <td>
                            {% include "django_dms/filetype.html" %}
                        </td>
                        <td>
                        	{% if user.is_authenticated %}
						      
						<a href="{{document.get_download_url}}"><img src="{{MEDIA_URL}}images/sitegraphics/arrow_down.png" alt="{% trans 'Download' %}" title="{% trans 'Download' %}"/></a>
						      
							{% endif %}
						</td>
                        <td><a href="{{document.get_absolute_url}}">{{ document|default:"Untitled" }}</a></td>
                        <td><a href="{% url profile_detail document.uploader %}">{{ document.uploader }}</a></td>
                        <td class="comment_stats">{% ifequal document.grade '99' %}{% trans "Passed" %}{% else %}{{ document.grade }}{% endifequal %}</td>
                        <td class="comment_stats">
                            {% score_for_object document as score %}
                            <span id="document_{{document.slug}}_score">
                                {{ score.score|default:0 }}
                            </span>
                        </td>
                </tr>
            {% empty %}
                <tr class="odd"><td></td><td></td><td colspan="4">{% trans "There are no documents yet" %}</td></tr>
            {% endfor %}
        </table>



{% endblock body %}