<link href="/site_media/markitup/skins/markitup/style.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/site_media/markitup/sets/markdown/style.css" type="text/css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="/site_media/pinax/js/jquery.js"></script>

<script type="text/javascript" src="/site_media/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/site_media/markitup/sets/markdown/set.js"></script>

<script type="text/javascript">$(document).ready(function() {  $("{{object}}").markItUp(mySettings);});</script>
