{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
	{% blocktrans %}
	<p><b>Velkommen til biblnet.dk!</b></p>
	<p>Dette er et forum for folk med tilknytning til danske uddannelser i biblioteks- og informationsvidenskab.</p>
	<p>Alle medlemmer kan bidrage med indhold.</p>
	{% endblocktrans %}

	{% if user.is_authenticated %}
		{% url what_next as what_next_url %}
		<p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
	{% else %}
		{% url acct_signup as signup_url %}
		<p>{% blocktrans %}<a href="{{ signup_url }}">Bliv medlem</a> for at være med!{% endblocktrans %}</p>
	{% endif %}
{% endblock %}
