{% extends "site_base.html" %}
{% load biblnet_tags %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
	{% blocktrans %}
	<h2>Velkommen til biblnet.dk!</h2>
	<p>Dette er et forum for folk med tilknytning til danske uddannelser i biblioteks- og informationsvidenskab.</p>
	<p>Alle medlemmer kan bidrage med indhold.</p>
	{% endblocktrans %}

    {% if user.is_authenticated %}
    
        -- {% trans "You last visited us " %}{{ user.last_login|timesince }} {% trans "ago" %} -- <br/>
        
        {% if user.tribe_set.all %}
            {% for tribe in user.tribe_set.all %}
                {% if not tribe.deleted %}
                {% new_since_last_visit tribe user %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% url tribe_list as tribe_url %}
            <p>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">tribes</a>.{% endblocktrans %}</p>
        {% endif %}
   {% endif %}
{% endblock %}
