{% extends "base.html" %}

{% load i18n %}
{% load cache %}
{% load svn_app_version %}
{% load analytics %}
{% load avatar_tags %}
{% load cache %}

{% load biblnet_tags %}


{% block extra_head_base %}

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/topics.css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/topics.js"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %} 
        <table>
            <tr>
                <td width="45px"><a href="{% url profile_detail user %}">{% avatar user 40 %}</a></td>
                <td><b><a href="{% url profile_detail user %}">{{ user }}</a></b></td>
            </tr>
        </table>
        <a style="font-size: 90%;" href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
        <p>{% trans "Your last login:" %}<br />
        {{ user.get_profile.last_visit|timesince }} {% trans "ago" %}
        </p>

        <p>
            {% if user.tribe_set.all %}
                {% for tribe in user.tribe_set.all %}
                    {% if not tribe.deleted %}
                        <img src="{{ MEDIA_URL }}images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /> <a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a><br />
                    {% endif %}
                {% endfor %}
            {% else %}
                {% url tribe_list as tribe_url %}
                <p>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">tribes</a>.{% endblocktrans %}</p>
            {% endif %}
        </p>

        <p>
            <img src="{{ MEDIA_URL }}images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /> <a href="{% url tribe_list %}">{% trans "All tribes" %}</a><br />
            <img src="{{ MEDIA_URL }}images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /> <a href="/tribes/create/">{% trans "Start a new tribe" %}</a>
        </p>
    {% else %}
        <p>{% trans "You are not logged in" %}</p>
        <p><a href="{% url acct_login %}">{% trans "Log in" %}</a> / <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a></p>
    {% endif %}
{% endblock %}

{% block logo_link_image %}{% cache 60000000 biblnetbanner %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}pinax/images/topbar.gif" alt="Biblnet Topbar"/></a>{% endcache %} {{ CAN_ADMIN }}{% endblock %}
{% block dynamic_updates %}
    {% get_latest %}
{% endblock %}

{% block boxtab %}
    <div id="boxtab">
        <ul>
            <li class="index_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}"><span>{% trans "Index" %}</span></a></li>
            <li class="board_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}topics/"><span>{% trans "Message board" %}</span></a></li>
            <li class="wiki_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}wiki/"><span>{% trans "Wiki" %}</span></a></li>
            <li class="docs_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}dms/"><span>{% trans "Knowledge Bank" %}</span></a></li>
            {% block group %}<li class="members_tab"><a href="{% url tribe_list %}"><span>{% trans "Groups" %}</span></a></li>{% endblock %}
        </ul>
        
        {% block admin_tab %}
            {% if tribe or topic %}
                {% if user.is_staff or are_moderator %}
                    <ul id="admin">
                        <li class="admin_tab" ><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url %}admin/"><span>
                        {% trans "Group Admin" %}</span></a></li>
                    </ul>
                {% else %}
                    {% if user.is_staff %}
                        <ul id="admin">
                            <li class="admin_tab" ><a href="/admin/"><span>{% trans "Admin" %}</span></a></li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endblock %}
	</div>
{% endblock %}

{% block search %}
    <div class="search">
        <form action="/search/" method="get" name="search">
            <input type="text" name="q" />
            <select>
                <option value="all">{% trans "All" %}</option>
                <option value="msg">{% trans "Comments" %}</option>
                <option value="doc">{% trans "Docs" %}</option>
                <option value="wiki">{% trans "Wiki" %}</option>
                <option value="memb">{% trans "Members" %}</option>
            </select>
            <input type="submit" value="{% trans 'Search' %}" />
        </form>
    </div>
{% endblock %}

{% block messages %}
    {% if user.is_authenticated %}
        <div class="messages">
            <a href="{% url messages_inbox %}">{% trans "Private messages" %}{% if messages_inbox_count %} <b>({{ messages_inbox_count }})</b>{% endif %}</a><br />
            <!--a href="{% url messages_outbox %}">{% trans "Sent" %}</a><br /-->
            <!--a href="{% url messages_trash %}">{% trans "Trash" %}</a><br /-->
            <a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} <b>({{ notice_unseen_count }})</b>{% endif %}</a><br />
            <a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} <b>({{ invitations_count }})</b>{% endif %}</a><br />
            <!--a href="{% url invitations_contacts %}">{% trans "Contacts" %}</a-->
        </div>
    {% else %}
        <div class="messages">
            {% trans "Log in to see your messages" %}
        </div>
    {% endif %}
{% endblock %}

{% block calendar %}
    <div class="calendar">
        {% if user.is_authenticated %}
            
            Next events for all your tribes <br/><br/>
            {% get_all_tribe_calendars request.user 5 %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <div class="legal">
        {% trans "&copy; 2009 Sean P &amp; Luhr B" %}
          <a href="{% url about %}">{% trans "About" %}</a>
        - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    </div>
{% endblock %}

{% block extra_body_base %}
    {% urchin %}
    
    {% cache 50000 urchin %}
    <script src="{{ MEDIA_URL }}base.js" type="text/javascript"></script>
    {% endcache %}
    {% block extra_body %}{% endblock %}
    {% block visit %}{% endblock%}
{% endblock %}
