{% extends "base.html" %}

{% load i18n %}
{% load cache %}
{% load svn_app_version %}
{% load analytics %}
{% load avatar_tags %}

{% load biblnet_tags %}


{% block extra_head_base %}
    {% cache 3456000 cssnjs %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/topics.css" />


    <script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/topics.js"></script>
	
    {% endcache %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}{% cache 3456000 biblnetbanner %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}images/sitegraphics/biblnet.png" alt="biblnet"/></a>{% endcache %} {{ CAN_ADMIN }}{% endblock %}
{% block dynamic_updates %}
    {% get_latest 8 1 1 %}
{% endblock %}

{% block boxtab %}
    <div id="boxtab">
        <ul>
            <li class="index_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}"><span>{% trans "Index" %}</span></a></li>
            <li class="board_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}topics/"><span>{% trans "Message board" %}</span></a></li>
            <li class="wiki_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}wiki/"><span>{% trans "Wiki" %}</span></a></li>
            <li class="docs_tab"><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url affil_tribe %}dms/"><span>{% trans "Docs" %}</span></a></li>
            {% block group %}<li class="members_tab"><a href="{% url tribe_list %}"><span>{% trans "Tribes" %}</span></a></li>{% endblock %}
        </ul>
        
        <div id="language">
            {% for lang in LANGUAGES %}                <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" class="locale_switcher">
                    <input{% ifequal lang.0 LANGUAGE_CODE %} class="selected"{% endifequal %} type="image" src="{{MEDIA_URL}}images/language/{{ lang.0 }}.png" alt="{{ lang.1 }}" title="{{ lang.1 }}" />
                    <input type="hidden" name="language" value="{{ lang.0 }}" />
                </form>
            {% endfor %}
        </div>

        {% block admin_tab %}
            {% if tribe or topic %}
                {% if user.is_staff or are_moderator %}
                    <ul id="admin">
                        <li class="admin_tab" ><a href="{% firstof tribe.get_absolute_url group.get_absolute_url topic.tribe.get_absolute_url %}admin/"><span>
                        {% trans "Group Admin" %}</span></a></li>
                    </ul>
                {% else %}
                    {% if user.is_staff %}
                        <ul id="admin">
                            <li class="admin_tab" ><a href="/admin/"><span>{% trans "Admin" %}</span></a></li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endblock %}
	</div>
{% endblock %}


{% block login %}
    <div class="columntop"><p class="blocktitle">{% trans "Login" %}</p></div>
    <div class="columnmid login">
        {% if user.is_authenticated %}
            <table>
                <tr>
                    <td width="45px"><a href="{% url profile_detail user %}">{% avatar user 40 %}</a></td>
                    <td><b><a href="{% url profile_detail user %}">{{ user }}</a></b></td>
                </tr>
            </table>
            <div style="float: right;"><a href="{% url acct_logout %}"><img src="{{ MEDIA_URL }}images/sitegraphics/door_in.png" alt="{% trans 'Logout' %}" title="{% trans 'Logout' %}"/></a></div>
            <div><img src="{{ MEDIA_URL }}images/sitegraphics/time.png" alt="{% trans 'Your last login' %}" title="{% trans 'Your last login' %}"/> <small>{{ user.get_profile.last_visit|timesince }} {% trans "ago" %}</small></div>
        {% else %}
            <p style="text-align: center;">{% trans "You are not logged in..." %}</p>
            <p style="text-align: center;"><a href="{% url acct_login %}"><b>{% trans "Log in" %}</b></a> / <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a></p>
        {% endif %}
    </div>
    <div class="columnbottom">&nbsp;</div>
{% endblock login %}

{% block usertribes %}
    {% if user.is_authenticated %}
        <div class="columntop"><p class="blocktitle">{% trans "Your Tribes" %}</p></div>
        <div class="columnmid">
            {% if user.tribe_set.all %}
                <div class="usertribes">
                    {% for tribe in user.tribe_set.all %}
                        {% if not tribe.deleted %}
                            <img src="{{ MEDIA_URL }}images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /> <a href="{% url tribe_topics tribe.slug %}">{{ tribe.name }}</a><br />
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                {% url tribe_list as tribe_url %}
                <p>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">tribes</a>.{% endblocktrans %}</p>
            {% endif %}
                <br/><img src="{{ MEDIA_URL }}images/sitegraphics/group_add.png" alt="{% trans 'Tribe' %}" /> <a href="/tribes/create/">{% trans "Start a new tribe" %}</a>
        </div>
        <div class="columnbottom">&nbsp;</div>
    {% endif %}
{% endblock %}

{% block navigation %}
    {% if user.is_authenticated %}
        <div class="columntop"><p class="blocktitle">{% trans "Navigation" %}</p></div>
        <div class="columnmid">
        	<div class="navigation">
                    <img src="{{ MEDIA_URL }}images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /> <a href="{% url tribe_list %}">{% trans "All tribes" %}</a><br/>
                    <img src="{{ MEDIA_URL }}images/sitegraphics/user.png" alt="{% trans 'Members' %}" /> <a href="/profiles/">{% trans "All members" %}</a><br/>
                    <img src="{{ MEDIA_URL }}images/sitegraphics/report.png" alt="{% trans 'Knowledge Bank' %}" /> <a href="{{affil_tribe}}dms/">{% trans "Knowledge Bank" %}</a><br/>
                    <img src="{{ MEDIA_URL }}images/sitegraphics/tag_blue.png" alt="{% trans 'Tags' %}" /> <a href="/tags/">{% trans "Tags" %}</a>
            </div>
        </div>
        <div class="columnbottom">&nbsp;</div>
    {% endif %}
{% endblock navigation %}

{% block search %}
    <div class="columntop"><p class="blocktitle">{% trans "Search" %}</p></div>
    <div class="columnmid">
        <div class="search">
            <form class="uniForm" id="search" action="/search/" method="get">
                <fieldset class="inlineLabels">
                    <input type="text" name="q" />
                    <select style="width:55%;" name="models">
                        <!--option value="">{% trans "All" %}</option-->
                        <option value="profiles.profile">{% trans "Members" %}</option>
                        <option value="tribes.tribe">{% trans "Tribes" %}</option>
                        <option value="tribes.topic">{% trans "Topics" %}</option>
                        <option value="wiki.article">{% trans "Wiki" %}</option>
                        <option value="small_dms.document">{% trans "Documents" %}</option>
                    </select>
                    <!--button onclick="$('#search').submit(); return false"><span>{% trans 'Search' %}</span></button-->
                    <input type="submit" value="{% trans 'Search' %}" />
                </fieldset>
            </form>
        </div>
    </div>
    <div class="columnbottom">&nbsp;</div>
{% endblock %}

{% block messages %}
    {% if user.is_authenticated %}
    	<div class="columntop"><p class="blocktitle">{% trans "Inbox" %}</p></div>
	    <div class="columnmid">
            <div class="messages">
                <a href="{% url messages_inbox %}">{% trans "Private messages" %}{% if messages_inbox_count %} <b>({{ messages_inbox_count }})</b>{% endif %}</a><br />
                <a href="{% url notification_notices %}">{% trans "Notices" %}{#% if notice_unseen_count %} <b>({{ notice_unseen_count }})</b>{% endif %#}</a><br />
            </div>
	    </div>
	    <div class="columnbottom">&nbsp;</div>
    {% endif %}
{% endblock %}

{% block calendar %}
    {% if user.is_authenticated %}
        <div class="columntop"><p class="blocktitle">{% trans "Calendar" %}</p></div>
        <div class="columnmid">
            <div class="calendar">
                {% block calendarevents %}
                    <div>{% trans "All your tribes:" %}</div>
                    {% get_all_tribe_calendars request.user 5 %}
                {% endblock %}
            </div>
        </div>
        <div class="columnbottom">&nbsp;</div>
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="columntop"><p class="blocktitle">{% trans "Site info" %}</p></div>
    <div class="columnmid">
        <div class="legal">
            {% trans "&copy; 2009 Sean P &amp; Luhr B" %}<br/>
              <a href="{% url about %}">{% trans "About" %}</a>
            - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
            <br/><br/>
            <a href="http://www.dbstud.dk/dsr" target="_blank"><img src="{{MEDIA_URL}}images/sitegraphics/dsr.png" alt="DSR" /></a>
            &nbsp;&nbsp;&nbsp;
            <a href="http://www.bf.dk" target="_blank"><img src="{{MEDIA_URL}}images/sitegraphics/bf.png" alt="Bf" /></a>
        </div>
    </div>
    <div class="columnbottom">&nbsp;</div>
{% endblock %}

{% block extra_body_base %}
{% if not debug %}
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11341610-1");
	pageTracker._trackPageview();
	} catch(err) {}
</script>
{% endif %}
    {% urchin %}
    {% cache 3456000 urchin %}
    <script src="{{ MEDIA_URL }}base.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/dimensions_1.2/jquery.dimensions.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery-tooltip/jquery.tooltip.min.js" type="text/javascript"></script>
	<script type="text/javascript"> 
	    $(".dynamic_avatars a img").attr("title",""); // gemmer titler på billeder
	    $('.dynamic_avatars a').tooltip({ 
	    track: true, 
	    delay: 0, 
	    showURL: false, 
	    showBody: ": ", 
	    fade: 50,
		positionLeft: true,
    });
</script>
    {% endcache %}
    {% block extra_body %}{% endblock %}
    {% block visit %}{% endblock%}
{% endblock %}
