{% load i18n %}
{% load avatar_tags %}
{% load condition_tag %}
{% load voting_tags %}
{% if is_me %}
    <h2>{% trans "My Tribes" %}</h2>
    <table class="tribes">
        {% if other_user.tribe_set.all %}
            <tr class="even"><th width="16px"></th><th width="16px"></th><th>{% trans "Name" %}</th><th width="16px"></th></tr>
            {% for tribe in other_user.tribe_set.all %}
                {% if not tribe.deleted %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><img src="/site_media/images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /></td>
                    <td>
                        {% ifequal tribe.creator user %}
                            <img src="/site_media/images/sitegraphics/award_star_gold_1.png" alt="{% trans 'Administrator' %}" title="{% trans 'Administrator' %}" />
                        {% else %}
                            {% if_is_moderator tribe user %}
                                <img src="/site_media/images/sitegraphics/award_star_silver_1.png" alt="{% trans 'Moderator' %}" title="{% trans 'Moderator' %}" />
                            {% endif_is_moderator %}
                        {% endifequal %}
                    </td>
                    <td><a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a></td>
                    <td>
                        {% ifequal tribe.creator user %}
                        {% else %}
                            <form method="POST" action="">
                                <input type="image" src="/site_media/images/sitegraphics/delete.png" value="{% trans 'leave tribe' %}" title="{% trans 'Leave tribe' %}" />
                                <input type="hidden" name="slug" value="{{ tribe.slug }}" />
                                <input type="hidden" name="action" value="leave" />
                            </form>
                        {% endifequal %}
                    </td>
                </tr>
               {% endif %}
            {% endfor %}
        {% else %}
            {% url tribe_thing_list "" as tribe_url %}
            <tr class="odd"><td></td><td></td><td>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">tribes</a>.{% endblocktrans %}</td></tr>
        {% endif %}
    </table><br/>

    {% if other_user.documents.all %}
    <h2>{% trans "My Documents" %}</h2>
        <table class="tribes">
            <tr class="even"><th width="16px"></th><th>{% trans "Title" %}</th><th class="comment_stats" width="50px">{% trans "Points" %}</th></tr>
            {% for document in other_user.documents.all %}
			     {% score_for_object document as score %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{% include "django_dms/filetype.html" %}</td>
                    <td><a href="{{document.get_absolute_url}}">{{ document|default:"Untitled" }}</a></td>
                    <td class="comment_stats">{{ score.score }}</td>
                </tr>
            {% endfor %}
        </table>
     {% endif %}

{% else %}
    <h2>{% blocktrans %}{{ other_user }}'s Tribes{% endblocktrans %}</h2>
    <table class="tribes">
        {% if other_user.tribe_set.all %}
            <tr class="even"><th width="16px"></th><th width="16px"></th><th>{% trans "Name" %}</th>
            {% for tribe in other_user.tribe_set.all %}
                {% if not tribe.private and not tribe.deleted %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td><img src="/site_media/images/sitegraphics/group.png" alt="{% trans 'Tribe' %}" /></td>
                        <td>
                            {% ifequal tribe.creator other_user %}
                                <img src="/site_media/images/sitegraphics/award_star_gold_1.png" alt="{% trans 'Administrator' %}" title="{% trans 'Administrator' %}" />
                            {% else %}
                                {% if_is_moderator tribe other_user %}
                                    <img src="/site_media/images/sitegraphics/award_star_silver_1.png" alt="{% trans 'Moderator' %}" title="{% trans 'Moderator' %}" />
                                {% endif_is_moderator %}
                            {% endifequal %}
                        </td>
                        <td><a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr class="odd"><td></td><td></td><td>{% trans "Not yet a member of any tribes." %}</td></tr>
        {% endif %}
    </table><br/>

    {% if other_user.documents.all %}
    <h2>{% blocktrans %}{{ other_user }}'s Documents{% endblocktrans %}</h2>
        <table class="tribes">
            <tr class="even"><th width="16px"></th><th>{% trans "Title" %}</th><th class="comment_stats" width="50px">{% trans "Points" %}</th></tr>
            {% for document in other_user.documents.all %}
                {% if not doc.tribe.private %}
				   {% score_for_object document as score %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{% include "django_dms/filetype.html" %}</td>
                         <td><a href="{{document.get_absolute_url}}">{{ document|default:"Untitled" }}</a></td>
						 <td class="comment_stats">{{ score.score }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
     {% endif %}

{% endif %}
