{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}
{% load biblnet_tags %}
{% load condition_tag %}
{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}
{% if other_user.is_active %}
<h1>{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}</h1>
{% if user.is_authenticated %}

    <table class="profile_info">
        <tr>
            <td id="profile_avatar">
                {% avatar other_user 200 %}
                {% if is_me %}
				
                    <div><a href="{% url avatar_change %}">{% trans "Change avatar" %}</a></div>
                    {% if user.password %}
                        <div><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></div>
                    {% else %}
                        <div><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></div>
                    {% endif %}
                {% endif %}
                {% if is_me %}
                    <p id="edit-profile-toggle">
                        <img src="{{ MEDIA_URL }}images/sitegraphics/page_white_edit.png" alt="Edit" title="Edit profile" />
                        <a href="#">{% trans "Edit profile" %}</a>
                    </p>
					            <div class="delete">
                <a onclick="$('#deactivate.delete_post_form').toggle(); return false;" href="#"><img src="/site_media/images/sitegraphics/bin.png" alt="{% trans 'Delete post' %}" title="{% trans 'Delete post' %}" /></a>
            </div>
            <form id="deactivate" class="delete_post_form delete_form" style="display: none;" method="POST" action="{% url profile_deactivate user %}">
                <input type="submit" value= {% trans "Deactivate Profile" %} /> {% trans "Are you sure you wish to deactivate your profile? <br/> You will no longe be able to log in to the site,  and people will not be able to view your profile if you continue"%}
                <input type="hidden" name="next" value="{{ request.path }}" />
            </form>
                {% endif %}
            </td>
			
            <td style="vertical-align: top;">{% include "profiles/profile_info.html" %}</td>
        </tr>
    </table>
            {% if_admin_group_access %} {# if_can_delete_topic topic user #}
            <div class="delete">
                <a onclick="$('#deactivate.delete_post_form').toggle(); return false;" href="#"><img src="/site_media/images/sitegraphics/bin.png" alt="{% trans 'Delete post' %}" title="{% trans 'Delete post' %}" /></a>
            </div>
            <form id="deactivate" class="delete_post_form delete_form" style="display: none;" method="POST" action="{% url profile_deactivate user %}">
                <input type="submit" value= {% trans "Deactivate Profile" %} /> {% trans "Are you sure you wish to deactivate your profile? <br/> You will no longe be able to log in to the site,  and people will not be able to view your profile if you continue"%}
                <input type="hidden" name="next" value="{{ request.path }}" />
            </form>
        {% endif_admin_group_access %}
	{# {% profile_stats other_user %} #}

    {% if other_user.get_profile.about %}
        <h2>{% trans "About me" %}</h2>
        <p>{{ other_user.get_profile.about|linebreaksbr }}</p>
    {% endif %}

    {% include "profiles/profile_right_panel.html" %}

    {% if is_me %}
        <div class="form-toggle" id="edit-profile" style="display: none;">
        <h2>{% trans "Edit your profile" %}</h2>
        <form class="uniForm" method="POST" action="">
            <fieldset class="inlineLabels">  
                {{ profile_form|as_uni_form }}
                <div class="form_block">
                <input type="hidden" name="action" value="update" />
                <input type="submit" value="{% trans 'update' %}"/>
                </div>
            </fieldset>
        </form>
        </div>
    {% endif %}
    
    {#% plugin_point "profiles.profile" user=other_user owner=other_user viewer=user %#}
            
{% else %} {# not user.is_authenticated #}
    {% url acct_login as login_url %}
    <strong>{% blocktrans %}<a href="{{ login_url }}?next=/profiles/{{ other_user }}/">Log in</a> to see this person's profile.{% endblocktrans %}</strong>
{% endif %}
{% else %}
This user has been deactivated
{% endif %}
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-profile').hide();
            $('#edit-profile-toggle').click(function() {
                $('#edit-profile').toggle();
                $('#edit-profile').autoscroll();
                return false;
            });
            if ($('#edit-profile ul.errorlist').length) {
                $('#edit-profile').show();
                $('#edit-profile ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}

