{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}

{% if is_me %}
<div class="right_panel">
    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
    <img src="{{ MEDIA_URL }}images/sitegraphics/world.png" alt="Edit" title="Edit profile" />
        <select name="language" onchange="$('#locale_switcher').submit()">
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
        {% endfor %}
        </select>
    </form>
</div>
{% endif %}

<h1>{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}</h1>

{% if user.is_authenticated %}
    <table class="profile_info">
        <tr>
            <td id="profile_avatar">
                {% avatar other_user 200 %}
                {% if is_me %}
                    <div><a href="{% url avatar_change %}">{% trans "Change avatar" %}</a></div>
                    {% if user.password %}
                        <div><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></div>
                    {% else %}
                        <div><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></div>
                    {% endif %}
                {% endif %}
                {% if is_me %}
                    <p id="edit-profile-toggle">
                        <img src="{{ MEDIA_URL }}images/sitegraphics/page_white_edit.png" alt="Edit" title="Edit profile" />
                        <a href="#">{% trans "Edit profile" %}</a>
                    </p>
                {% endif %}
            </td>
            <td style="vertical-align: top;">{% include "profiles/profile_info.html" %}</td>
        </tr>
    </table>

    {% comment %}
    <p>
        <a href="{% url tweet_followers other_user %}">{% trans "Followers" %}</a>: {{ other_user.followers.count|default:"0" }}
        <a href="{% url tweet_following other_user %}">{% trans "Following" %}</a>: {{ other_user.followed.count|default:"0" }}
    </p>
    
    {% if not is_me %}
        {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
        <div>
            <form method="POST" action="{% url toggle_follow other_user %}">
                {% if is_following %}
                    <input type="hidden" name="action" value="unfollow" /><input type="submit" value="{% trans 'unfollow' %}"/>
                {% else %}
                    <input type="hidden" name="action" value="follow" /><input type="submit" value="{% trans 'follow tweets' %}"/>
                {% endif %}
            </form>
        </div>
    {% endif %}
    {% endcomment %}

    {% if other_user.get_profile.about %}
        <h2>{% trans "About" %}</h2>
        <p>{{ other_user.get_profile.about|linebreaksbr }}</p>
    {% endif %}

            {% include "profiles/profile_right_panel.html" %}

            {% if is_me %}
                <div class="form-toggle" id="edit-profile" style="display: none;">
                <h2>Edit your profile</h2>
                <form class="uniForm" method="POST" action="">
                    <fieldset class="inlineLabels">  
                        {{ profile_form|as_uni_form }}
                        <div class="form_block">
                        <input type="hidden" name="action" value="update" />
                        <input type="submit" value="{% trans 'update' %}"/>
                        </div>
                    </fieldset>
                </form>
                </div>
            {% endif %}
            
            {#% plugin_point "profiles.profile" user=other_user owner=other_user viewer=user %#}
            
        {% else %} {# not user.is_authenticated #}
            {% url acct_login as login_url %}
            <strong>{% blocktrans %}<a href="{{ login_url }}?next=/profiles/{{ other_user }}/">Log in</a> to see this person's details and tribes and to follow their tweets.{% endblocktrans %}</strong>
        {% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-profile').hide();
            $('#edit-profile-toggle').click(function() {
                $('#edit-profile').toggle();
                $('#edit-profile').autoscroll();
                return false;
            });
            if ($('#edit-profile ul.errorlist').length) {
                $('#edit-profile').show();
                $('#edit-profile ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}

