{% extends "account/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% trans "Avatar" %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="/profiles/">{% trans "Profiles" %}</a> &raquo; <a href="/profiles/{{ user }}">{{ user }}</a>{% endblock %}

{% block body %}
    <h1>{% trans "Avatar" %}</h1>
    <h2>{% trans "Your current avatar:" %}</h2>
    {% avatar user 80 %}
    {% if not avatars %}
        <p>{% trans "Your avatar is currently the standard avatar, but you can upload a custom avatar simply by using the form below." %}</p>
    {% else %}
        <h3>Select a different avatar:</h3>
        <form method="POST" action="">
            <ul class="avatar_choices">
                {{ primary_avatar_form.choice }}
            </ul>
            <input type="submit" value="{% trans 'Choose new Default' %}" />
        </form>
        {% url avatar_delete as avatar_delete_url %}
        <p>{% blocktrans %}Don't like these avatars? You can <a href="{{ avatar_delete_url }}">choose which ones to delete</a>.{% endblocktrans %}</p>
    {% endif %}
    <h2>{% trans "Upload an Avatar:" %}</h2>
    <form enctype="multipart/form-data" method="POST" action="">
        <input type="file" name="avatar" value="{% trans 'Avatar Image' %}" />
        <input type="submit" value="{% trans 'Upload New Image' %}" />
    </form>
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}
