{% extends "messages/base.html" %} 

{% load i18n %} 
{% load timezone_filters %}

{% block body %} 
<h1>{% trans "Sent Messages" %}</h1>

<a href="{% url messages_inbox %}">{% trans "Inbox" %}</a><br />
<a href="{% url messages_trash %}">{% trans "Deleted Messages" %}</a><br />
<br />
<a href="{% url messages_compose %} ">{% trans "Compose New Message" %}</a>

<table class="messages">
    <thead>
        <tr class="even"><th width="35px"></th><th>{% trans "Recipient" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th><th>{% trans "Delete" %}</th></tr>
    </thead>
    <tbody>
        {% if message_list %}
        {% for message in message_list %}
            <tr class="{% cycle odd,even %}">
                <td><img src="{{ MEDIA_URL }}images/sitegraphics/email_go.png" alt="{% trans 'Sent message' %}" title="{% trans 'Sent message' %}"/></td>
                <td>{{ message.recipient }}</td>
                <td>
                    <a href="{{ message.get_absolute_url }}">{% if message.subject.strip %}{{ message.subject }}{% else %}(none){% endif %}</a>
                </td>
                <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                <td><a href="{% url messages_delete message.id %}?next={% url messages_outbox %}"><img src="/site_media/images/sitegraphics/bin.png" alt="{% trans 'Delete message' %}" title="{% trans 'Delete message' %}" /></a></td>
            </tr>
        {% endfor %}
        {% else %}
            <tr class="odd"><td></td><td colspan="4">{% trans "You have not sent any messages..." %}</td></tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}
