{% extends "messages/base.html" %} 

{% load i18n %} 
{% load oembed_tags %}
{% load timezone_filters %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a>{% endblock %}

{% block body %}
    <h2>{% trans "View Message" %}</h2>
    
    <table class="messages">
        <tr class="even"><td class="view">{% trans "Sender" %}:</td><td><a href="{% url profile_detail message.sender %}">{{ message.sender }}</a></td><td></td></tr>
        <tr class="even"><td class="view">{% trans "Recipient" %}:</td><td><a href="{% url profile_detail message.recipient %}">{{ message.recipient }}</a></td><td></td></tr>
        <tr class="even"><td class="view">{% trans "Date" %}:</td><td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT")}}</td><td></td></tr>
        <tr class="even"><td class="view">{% trans "Subject" %}:</td><td><strong>{{ message.subject }}</strong></td><td></td></tr>

        <tr class="odd"><td></td><td>{% oembed %}{{ message.body|linebreaksbr }}{% endoembed %}</td><td></td></tr>

        <tr class="even">
            <td></td>
            <td>
                {% ifequal message.recipient user %}
                    <a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
                {% endifequal %}
            </td>
            <td>
                <a href="{% url messages_delete message.id %}"><img src="/site_media/images/sitegraphics/bin.png" alt="{% trans 'Delete message' %}" title="{% trans 'Delete message' %}" /></a>
            </td>
        </tr>
    </table>




{% endblock %}
